_settings/*
assets/product/*
assets/img/product/*
web2/templates_c/*
web2/cache/
*.log
application/cache/*
!application/cache/index.html
application/logs/*
application/vendor/
!application/logs/index.html
web2/images/users/*
