/*
Style by  : Tarikh Agustia
Email     : agustia.tarikh150@gmail.com
*/
.trademark-list-ul {
  list-style: initial !important;
}
ul.brand-showcase-logo li {
  /*margin: 10px;*/
  padding: 10px;
  font-size: 1em;
  font-weight: bolder;
  color: red !important;
}
