/*
Style by  : Tarikh Agustia
Email     : agustia.tarikh150@gmail.com
*/
ul.brand-showcase-logo li {
  /*margin: 10px;*/
  padding: 10px;
  font-size: 1em;
  font-weight: bolder;
  color: red !important;
}
