/*
Style by  : Tarikh Agustia
Email     : agustia.tarikh150@gmail.com
*/

.trademark-list-ul {
    list-style: initial !important;
}

ul.brand-showcase-logo li {
    /*margin: 10px;*/
    padding: 10px;
    font-size: 1em;
    font-weight: bolder;
    color: red !important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    >.col,
    >[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.border-dash {
    box-sizing: border-box;
    border: 1px dashed #ddd;
    border-radius: 2px;
    padding: 15px 20px
}

.card {
    background: #fff;
    border-radius: 2px;
    width: 100%;
    display: block;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.border {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 15px 20px
}

.border-header {
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 13px;
    min-height: 32px;
    line-height: 32px;
    background: #f9f9f9;
    border-radius: 2px 2px 0 0;
    padding: 0 12px;
}

#listed {
    list-style-type: square !important;
    list-style: decimal;
    list-style-position: inside;
}

.button-payment {
    padding: 5px;
}

.panel-heading {
    font-weight: bold;
}

.c-tooltip__pointer {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
}

.c-tooltip.c-tooltip--bottom .c-tooltip__pointer {
    top: 0;
    left: 50%;
    margin-left: -6px;
    border-width: 0 6px 6px;
    border-bottom-color: #333;
}

.c-tooltip__content {
    background-color: #333;
    max-width: 336px;
    padding: 12px 18px;
    text-align: center;
    color: #fff;
    border-radius: 2px;
}

.c-tooltip.c-tooltip--bottom {
    margin-top: 3px;
    padding: 6px 0;
}

.u-pad-bottom--0 {
    padding-bottom: 0px !important;
}

.c-tooltip {
    font-size: 12px;
    line-height: 1.4;
    position: relative;
    z-index: 7;
    display: inline-block;
    word-wrap: break-word;
}

.payment-confirmation-footer-rekening {
    /*border: solid 1px;*/
    margin-top: 5px;
    box-sizing: border-box;
    padding: 10px;
    background-color: white;
}

.payment-confirmation-footer-text {
    margin-top: 10px;
    margin-bottom: 20px;
}

.detail-transfer>span {
    font-size: 22px;
    font-weight: bold;
}

.paymnet-invoice {
    margin-top: 30px;
}

.paymnet-invoice-number {
    font-size: 25px;
    font-weight: bold;
    color: rgb(237, 26, 89);
    padding: 5px;
    background-color: rgb(158, 158, 158);
}

.clipboard {
    cursor: pointer;
    border-bottom: 1px dotted #000;
    text-decoration: none;
    width: auto;
    display: inline;
}

.announcement-warning {
    font-size: 14px;
    line-height: 1.4;
    background-color: #fff7e2;
    position: relative;
    display: block;
    padding: 12px 18px;
    color: #8b6f32;
    border: 1px solid #e6b138;
    border-radius: 2px;
}

.fa-exclamation-circle {
    margin-left: 100px;
}

.nav-left {
    padding: 10px;
}

.nav-left.nav-left-list {
    /*font-size: 14px;*/
}

.nav-left-list>li {
    margin: 0 0 15px 0;
    font-size: 14px;
}

.nav-left-list>li:hover {
    color: dodgerblue !important;
    /*font-weight: bold;*/
}

.nav-left-item.active {
    border-right: solid;
    border-width: 3px;
    border-color: dodgerblue;
    font-weight: bold;
}

li.nav-left-item>a:hover {
    -webkit-transition: 1s;
    color: dodgerblue !important;
}

li.nav-left-item.active>a {
    color: dodgerblue !important;
}

.nav-left-divider {
    background-color: #bfc4cc;
    height: 1px;
    margin-top: 6px;
    margin-bottom: 6px;
    overflow: hidden;
}

.content-dashboard {
    margin-left: 15px;
}

h1.transaction {
    margin-bottom: 5px;
    font-size: 2em;
}

.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0;
}

.nav-tabs>li>a {
    border: none;
    color: #666;
}

.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs>li>a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1);
}

.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}

.tab-pane {
    padding: 1px 0;
}

.tab-content {
    padding: 10px 0 0 0;
}

.invoice-number-transaction {
    font-size: 14px;
    color: dodgerblue;
    font-weight: bold;
}

.invoice-time-transaction {
    font-size: 12px;
    color: darkgray;
}

.invoice-amount {
    margin-top: 5px;
    font-weight: bold;
}

.modal-header-success {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5cb85c;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-warning {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-danger {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-info {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #5bc0de;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-header-primary {
    color: #fff;
    padding: 9px 15px;
    border-bottom: 1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

form>legend {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: #bfc4cc;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
}

.img-selected-active {
    box-shadow: 0px 0px 20px 0px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}