<link rel="stylesheet" type="text/css" href="custom/datatable2/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="custom/datatable2/resources/syntax/shCore.css">
<script type="text/javascript" language="javascript" src="custom/datatable2/media/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="custom/datatable2/resources/syntax/shCore.js">
</script>
<script type="text/javascript" language="javascript" src="custom/datatable2/resources/demo.js">
</script>

<div id="main_content" class="content">
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class="icon-user-3"></i> Exchange Rate</h1>          	
    </div>
    <!-- Page Heading End-->				
    <div class="row">
        <div class="col-md-12 portlets">
            <div class="widget">
                <div class="widget-header transparent">
                    <br>
                    <h2> Gold Saving Account</h2>
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                     <div class="alert alert-success nomargin">
                        * Trado Market mt4 platform trade perth mint Gold product redeem club item redeem
                        <br>
                        * Minimum Withdrawal $100.00 + $15.00 marchant fee
                        <br>
                        * Maximum Withdrawal $5000.00 + $15.00 marchant fee
                    </div> <br>
				 <div class="col-md-8 col-md-offset-2">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center"></th>
                                    <th class="text-center">USD</th>
                                    <th class="text-center">EXCHANGE RATE</th>
                                    <th class="text-center">WITHDRAWAL RATE</th>
                                    <th class="text-center">ACTION</th>
                                </tr>
                            </thead>                            
                            <tbody class="text-center">
                                <tr>
                        <td>MALAYSIA</td>
                        <td>$1.00</td>
                        <td class="text-center">RM 4.OO</td>
                        <td>RM 3.40</td>
                        <td><span class="label label-success">SELL</span>
                            <span class="label label-success">BUY</span>
                        </td>
                      </tr>
                      <tr>
                        <td>INDONESIA</td>
                        <td>$1.00</td>
                        <td>IDR 13.000</td>
                        <td>IDR 10.000</td>
                        <td><span class="label label-success">SELL</span>
                            <span class="label label-success">BUY</span>
                        </td>
                      </tr>
                      <tr>
                        <td>THAILAND</td>
                        <td>$1.00</td>
                        <td>THB 35.00</td>
                        <td>THB 30.00</td>
                        <td><span class="label label-success">SELL</span>
                            <span class="label label-success">BUY</span>
                        </td>
                      </tr>
                      <tr>
                        <td>PHILIPINES</td>
                        <td>$1.00</td>
                        <td>PHP 46.00</td>
                        <td>PHP 40.00</td>
                        <td><span class="label label-success">SELL</span>
                            <span class="label label-success">BUY</span>
                        </td>
                      </tr>
                      <tr>
                        <td>SINGAPORE</td>
                        <td>$1.00</td>
                        <td>SGD 1.30</td>
                        <td>SGD 1.00</td>
                        <td><span class="label label-success">SELL</span>
                            <span class="label label-success">BUY</span>
                        </td>
                      </tr>					
                            </tbody>
                        </table><br>
                    </div>
                </div>

            </div>
        </div>
		
    </div>		
</div>

<script src="assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
<script src="assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="assets/js/pages/datatables.js"></script>
