<div id="main_content" class="content">
    <div class="page-heading">
        <h1><i class="icon-user-3"></i> Apex Regent Marketing Plan
        </h1>
    </div>
    <div class="row vertical-center-row">
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                    <h2><strong>Marketing</strong> Plan</h2>
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <div class="alert alert-success">
                        This is a very profitable investment business , the greater the level of investment you select ,
                        the greater the profit you can in a day and a month, the monthly bonus you can just right for 3 topmost level .
                        That good will continue to join first ? with you first join then you may get a lot of business colleagues
                        in your network . that's one advantage to join the first , especially your first and nice join in treding
                        and network development , i am sure you will get the revenue that very extraordinary
                        so what are you waiting soon Register Now
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 text-center">
                        <h3><strong>Investment Club Packages</strong></h3>
                        <table class="table table-striped table-bordered " cellspacing="0" style="margin: 0 auto !important; float: none !important;">
                            <thead>
                                <tr>
                                    <th class="text-center">Club Packages</th>
                                    <th class="text-center">Type Of Account</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>Silver Club</td>
                                    <td>100</td>

                                </tr>
                                <tr>
                                    <td>Silver Club</td>
                                    <td>250</td>

                                </tr>
                                <tr>
                                    <td>Silver Club</td>
                                    <td>500</td>

                                </tr>
                                <tr>
                                    <td>Executive Silver Club</td>
                                    <td>1,000</td>

                                </tr>
                                <tr>
                                    <td>Executive Silver Club</td>
                                    <td>2,500</td>

                                </tr>
                                <tr>
                                    <td>VIP Gold Club</td>
                                    <td>5,000</td>

                                </tr>
                                <tr>
                                    <td>VVIP Gold Club</td>
                                    <td>10,000</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="col-md-8 col-md-offset-2">
                        <br>
                        <legend>Apex Regent Bonus Plan</legend>
                        <br>
                        <div class="alert alert-success">
                            In the table above also explain about the daily bonus on each - each level .
                            You can see that the higher the level you select , the greater the profit you get .
                            And below explains about the bonus months you must understand correctly.
                        </div>
                        <h3 class="text-center"><strong>Profit Sharing</strong></h3>
                        <table class="table table-striped table-bordered " cellspacing="0" style="font-family:calibri; center; font-size:100%;">
                            <thead>
                                <tr>
                                    <th class="text-center">PASSIVE CLUB MEMEBER</th>
                                    <th class="text-center">ACTIVE CLUB MEMBER</th>
                                    <th class="text-center">Profit Sharing Method</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>Wealth Dividend Bonus</td>
                                    <td>Wealth Dividend Bonus</td>
                                    <td>Weekly Paid</td>
                                </tr>
                                <tr>
                                    <td>Wealth Referral Bonus</td>
                                    <td>Wealth Referral Bonus</td>
                                    <td>One Time Paid</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Wealth Club Bonus</td>
                                    <td>Monthly Paid</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Rank qualification Bonus</td>
                                    <td>Monthly Paid - Flush out</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Multiline ROI Club Bonus</td>
                                    <td>Monthly Paid</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><strong class="text-danger">Wealth Pool Pier Generator Bonus</strong></td>
                                    <td>-</td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                    </div>
            <!-- <div class="alert alert-success col-md-12">
                On a monthly bonus is only 3 levels that get monthly bonuses are:
                Black Diamond , VIP 1 , VIP 2. So if you want to get a monthly bonus
                is for sure you know what you should do now.
            </div> -->
            <div class="col-md-8 col-md-offset-2">
                <h3 class="text-center"><strong>WEALTH CLUB DIVIDEND</strong></h3>
                Passive Weekly Wealth Club Silver Dividend $100/$250<br>
                1.	Club Silver USD$100 - (1.50% - 2.75% x 4 minggu) = 6% - 11%<br>
                2.	Club Silver USD$250 – (1.50 – 2.75% x 4 minggu) = 6% - 11%<br>
                <br>
                Passive Weekly Wealth Exe. Silver Club Dividend $500<br>
                1.	Club Silver USD$500 – (1.75% - 3.25% x 4 minggu) = 7% - 13%<br>
                <br>
                Passive Weekly Wealth Exe. Gold Club Dividend $1,000/$2,500<br>
                1.	Executive Silver Club USD$1,000 – (1.75% - 3.75% x 4 minggu) = 7% - 15%<br>
                2.	Executive Gold Club USD$2,500 – (2.00% -3.75% x  minggu) = 8% - 15%<br>
                <br>
                Passive Weekly Wealth VIP Gold Club Dividend $5,000<br>
                1.	VIP Gold Club USD$5,000 – (2.00% - 4.25% x 4 minggu) = 8% - 17%<br>
                <br>
                Passive Weekly Wealth VIP Gold Club Dividend $10,000<br>
                1.	VVIP Gold Club USD$10,000 – (2.25% - 5% x 4 minggu) = 9% - 20%<br>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <br>
                <br>

                <h3 class="text-center"><strong>WEALTH REFERRAL BONUS</strong></h3>
                Club Member % Introducer Qualification
                <table class="table table-striped table-bordered " cellspacing="0" style="font-family:calibri; center; font-size:100%;">
                    <thead>
                        <tr>
                            <th class="text-center">NO</th>
                            <th class="text-center">CLUB TYPE</th>
                            <th class="text-center">DIRECT BONUS</th>
                            <th class="text-center">GOLD SAVING ACCOUNT</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>1</td>
                            <td>Club Silver 100/250/500</td>
                            <td>6%</td>
                            <td>1%</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Exe. Silver Club  1000k</td>
                            <td>7%</td>
                            <td>2%</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Exe. Silver Club  2500k</td>
                            <td>8%</td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>VIP Gold Club 5000k</td>
                            <td>9%</td>
                            <td>4%</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>VVIP GOLD Club 10000k</td>
                            <td>10%</td>
                            <td>5%</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                All Club Member packages are qualified for Direct Introducer Bonus based on
                the table payment above, Some amount of percent income will go to Gold Saving
                Account for Generator Next Income.
            </div>
            <div class="col-md-8 col-md-offset-2">
                <br>
                <br>
                <h3 class="text-center"><strong>RANK QUALIFICATION BONUS</strong></h3>
                <table class="table table-striped table-bordered " cellspacing="0" style="font-family:calibri; center; font-size:100%;">
                    <thead>
                        <tr>
                            <th class="text-center">Rank GVL %</th>
                            <th class="text-center">$1K</th>
                            <th class="text-center">$5K</th>
                            <th class="text-center">$10K</th>
                            <th class="text-center">$20K</th>
                            <th class="text-center">$50K</th>
                            <th class="text-center">$100K</th>
                            <th class="text-center">$750K</th>
                            <th class="text-center">$1.0M</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>PV FEES</td>
                            <td>$10</td>
                            <td>$10</td>
                            <td>$10</td>
                            <td>$10</td>
                            <td>$10</td>
                            <td>$10</td>
                            <td>$10</td>
                            <td>$10</td>
                        </tr>
                        <tr>
                            <td>Q.LEG %</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                            <td>3%</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="vertical-align: middle;"><strong>Level 1</strong></td>
                            <td colspan="7"><img src="images/mlm/plan.png" class="img-responsive"></td>

                        </tr>
                    </tbody>
                </table>
                <br>
                For Ranking Qualification Bonuses like the ones listed above, you as the Active Generator has paid personal PV worth USD $ 10.00 for that month. You must be active and PV has 3 Active Generator level 1 has also been paying private PV monthly to participate in this bonus plan.<br>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <br>
                <br>

                <h3 class="text-center"><strong>WEALTH CLUB BONUS (WCB)</strong></h3>
                Get 3 Active Generator
                <table class="table table-striped table-bordered " cellspacing="0" style="font-family:calibri; center; font-size:100%;">
                    <thead>
                        <tr>
                            <th class="text-center">Wealth Club</th>
                            <th class="text-center">Get 3 Active Generator</th>
                            <th class="text-center">Silver Club 100</th>
                            <th class="text-center">Silver Club 250</th>
                            <th class="text-center">Silver Club 500</th>
                            <th class="text-center">Exe. Club 1k</th>
                            <th class="text-center">Exe. Gold Club 2.5k</th>
                            <th class="text-center">VIP Gold Club 5k</th>
                            <th class="text-center">VVIP Gold Club 10k</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>Month Payment</td>
                            <td>Nill</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                            <td>5%</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="vertical-align: middle;"><strong>Level 1</strong></td>
                            <td colspan="7"><img src="images/mlm/plan.png" class="img-responsive"></td>

                        </tr>
                        <tr>
                            <td colspan="9">
                                Completed 3 Active Investor who pay PV of the month example of sales volume of
                                $30k x 0.5% = $1,500.00 unlimited sponsored,
                                monthly paid and flush out
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                An Active Generator has paid a personal rank PV of $50.00 for the month and you must
                be an Active PV and Introduce 3 Active personal Enrolled Generator categories Wealth
                Club to participate in this plan bonus<br>
                Paid Monthly – Based on your current qualified for or "paid as" ran<br>
            </div>
            <div class="col-md-8 col-md-offset-2 ">
                <br>
                <br>
                <h3 class="text-center"><strong>MULTILINE GROUP ROI BONUS</strong></h3>
                <table class="table table-striped table-bordered " cellspacing="0" style="font-family:calibri; center; font-size:100%;">
                <thead class="text-center">
                    <tr >
                        <th>Club Package</th>
                        <th>PV FEE</th>
                        <th colspan="3" class="text-center">Sliver Club</th>
                        <th colspan="2">Exe. Silver Club</th>
                        <th>VIP Gold Club</th>
                        <th>VVIP Gold Club</th>
                    </tr>
                </thead>
                <tbody class="text-center">
                    <tr class="text-danger">
                        <th>PACKAGE</th>
                        <td>$10</td>
                        <td>$100</td>
                        <td>$250</td>
                        <td>$500</td>
                        <td>$1K</td>
                        <td>$2.5K</td>
                        <td>$5K</td>
                        <td>$10K</td>
                    </tr>
                    <tr>
                        <td><strong>Level 1</strong></td>
                        <td>$10</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td><strong>Level 2</strong></td>
                        <td>$10</td>
                        <td></td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td><strong>Level 3</strong></td>
                        <td>$10</td>
                        <td></td>
                        <td></td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td><strong>Level 4</strong></td>
                        <td>$10</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td><strong>Level 5</strong></td>
                        <td>$10</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>3%</td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td><strong>Level 6</strong></td>
                        <td>$10</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>3%</td>
                    </tr>
                    <tr>
                        <td><strong>COMPRESSION</strong></td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                        <td><span class="glyphicon glyphicon-arrow-up"></span></td>
                    </tr>
                </tbody>
                </table>
                <p>
                    Multiple-Lines Group ROI Bonus is a bonus group cumulative ROI of bonuses paid to up-line. The qualifying income% paid is based on the category of the Club your package.
                </p>
                <p>
                    The active Generator you have to pay a $ 10 monthly personal PV, and all 3 down-line level 1 you also pay $ 10 monthly private PV respectively.
                </p>
            </div>
            <div class="col-md-8 col-md-offset-2 ">
                <br>
                <br>
                <h3 class="text-center"><strong>WEALTH POOL PIER GENERATOR BONUS</strong></h3>
                <table class="table table-striped table-bordered " cellspacing="0" style="font-family:calibri; center; font-size:100%;">
                    <thead>
                        <tr>
                            <th class="text-center">Silver Club 100</th>
                            <th class="text-center">Silver Club 250</th>
                            <th class="text-center">Silver Club 500</th>
                            <th class="text-center">Exe. Club 1k</th>
                            <th class="text-center">Exe. Gold Club 2.5k</th>
                            <th class="text-center">VIP Gold Club 5k</th>
                            <th class="text-center">VVIP Gold Club 10k</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <td>ENTRY FREE<br>(One Time)</td>
                            <td>ENTRY FREE<br>(One Time)</td>
                            <td>ENTRY FREE<br>(One Time)</td>
                            <td>ENTRY FREE<br>(One Time)</td>
                            <td>ENTRY FREE<br>(One Time)</td>
                            <td>ENTRY FREE<br>(One Time)</td>
                            <td>ENTRY FREE<br>(One Time)</td>
                        </tr>
                        <tr>
                            <td class="text-danger"><strong>BLOCK 1</strong></td>
                            <td class="text-danger"><strong>BLOCK 2</strong></td>
                            <td class="text-danger"><strong>BLOCK 3</strong></td>
                            <td class="text-danger"><strong>BLOCK 4</strong></td>
                            <td class="text-danger"><strong>BLOCK 5</strong></td>
                            <td class="text-danger"><strong>BLOCK 6</strong></td>
                            <td class="text-danger"><strong>BLOCK 7</strong></td>
                        </tr>
                        <tr>
                            <td>USD $50.00</td>
                            <td>USD $70.00</td>
                            <td>USD $100.00</td>
                            <td>USD $150.00</td>
                            <td>USD $200.00</td>
                            <td>USD $200.00</td>
                            <td>USD $500.00</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <p><strong>Term and Condition :</strong></p>
                <p class="text-justify">
                    The terms of the Plan to accompany the Wealth Generator Pier Pool Bonus must have an account at Apex Regent Club like the table above.
                </p>
                <p><strong>BOARD 1</strong></p>
                <ol type="1" class="text-justify">
                  <li>
                      Cycles out every account on BOARD 1 take the period from month 3 to month 4 to quit accepting Member Reward Income (which earlier)
                      and automatically at registration to BOARD 2
                  </li>
                  <li>
                      For accounts that have come out of the BOARD 1 automatically, 1 new account registered a free account on behalf of an owner that is similar in plan to program Apex Regent. A free account is not worth getting into the Board
                  </li>
                </ol>
                <br>
                <p><strong>BOARD 2</strong></p>
                <ol type="1" class="text-justify">
                  <li>
                      Cycles out every account on BOARD 2 take the period from 8 to 9 months for out receive the Member Reward Income (which earlier) and automatically in the egistrasi to the BOARD 3
                  </li>
                  <li>
                      For accounts that have come out from the BOARD automatically 2 2 new account registered a free account on behalf of an owner that is similar in plan to program Apex Regent. A free account is not worth getting into the Board.

                  </li>
                  <li>
                      For accounts that have come out of the BOARD 2 automatically paid Fee entrynya to BOARD 3, and turn on auto behind and followed the turn of akun2 earliest reply is still waiting for the turn out of the BOARD 2

                  </li>
                  <li>
                      On BOARD 2 owner gets 2 useless accounts of States and deserves a monthly dividend in Apex Regent according to type of Package

                  </li>
                </ol>
                <br>
                <p><strong>BOARD 3</strong></p>
                <ol type="1" class="text-justify">
                  <li>
                      Cycles out every account at BOARD 3 took a period of time from 11 to 12 months for out FINAL Reward Members receive Income end of the Apex Regent (which earlier) according to turn

                  </li>
                  <li>
                      For accounts that have come out of the BOARD 3 3 automatically registered as a new account free on behalf of the same owner account in plan program Apex Regent. A free account is not worth getting into the Board
                  </li>
                  <li>
                      On BOARD 3 owner gets 3 new account free from States and deserves a monthly dividend in Apex Regent according to type of Package
                  </li>
                </ol>

            </div>
        </div>

    </div>
</div>
</div>
</div>
