<div class="form-group">
	<label for="accounttype" class="col-sm-5 control-label">Agent Code</label>
	<div class="col-md-7">
		<input type="text" class="form-control" placeholder="Agent code ?">
	</div>
</div>
<div class="form-group">
	<label for="accounttype" class="col-sm-5 control-label">Amount</label>
	<div class="col-md-7">
		<!-- <input class="form-control" id="input-text" type="text" id="amount"> -->
		<input type="text" class="form-control" id="amount" />
		<script type="text/javascript">$("#amount").maskMoney();</script>
		<p class="help-block">Must match the amount of Money you Transfer.</p>
		<p class="help-block">enter a payment amount without a dot (.) or a comma (,).</p>

	</div>
</div>
<div class="form-group">
	<label for="currency" class="col-sm-5 control-label">Date Pays</label>
	<div class="col-md-4">
		<input type="text" class="form-control datepicker-input" data-mask="9999-99-99" placeholder="yyyy-mm-dd">
	</div>
	<div class="col-md-3">
		<input type="text" class="form-control datepicker-input" data-mask="99:99" placeholder="00:00">
	</div>
</div>
<div class="form-group">
	<label for="accounttype" class="col-sm-5 control-label">Upload Your Document dfPay</label>
	<div class="col-md-7">
		<input type="file" class="btn btn-default" title="Search for a file to add">
	</div>
</div>
<div class="form-group">
	<div class="col-sm-offset-5 col-sm-7" id="buttons">
		<button type="submit" class="btn btn-success btn-block">
		Send Payment Confirmation
		<span class="glyphicon glyphicon-play">
		</span>
		</button>
	</div>
</div>
