<div class="content" id="main_content">
    <link href="custom/daterange/css/daterangepicker.css" media="all" rel="stylesheet" type="text/css"/>
    <style type="text/css">
        table thead {
      background-color: orange;
      color: white;

    }
    </style>
    <div class="page-heading">
        <h1>
            <i class="icon-vcard">
            </i>
            Wealth Referal Bonus History
        </h1>
    </div>
    <div class="row">
        <div class="col-md-12 portlets">
            <div class="widget">
                <div class="widget-header ">
                    <h2>
                        <strong>
                            Wealth
                        </strong>
                        Referal Bonus History
                    </h2>
                    <div class="additional-btn">
                        <a class="widget-toggle" href="#">
                            <i class="icon-down-open-2">
                            </i>
                        </a>
                    </div>
                </div>
                <div class="widget-content padding">
                <div class="table-responsive">
            <!-- <div class="text-center"><h4><strong>Bonus Log</strong></h4></div> -->
            <!-- location.href = 'daily_statement.php?account=' + account.value +  '&datesearch=' + datesearch.value + '&mt4dt='+ mt4dt.value +'&excell=yes' -->
            <form class="form-inline" role="form" method="post" name="ajax-form" action="bonus_detail.php?postmode=excell">
            <input name="token" type="hidden" value="{$token}"></input>
              <div class="form-group">
                <!-- <input type="hidden" name="account" value="{$dataACCNO.ACCNO}"></input> -->
                <select name="accounts" class="form-control">
                  {foreach from=$dataACCNO item=row}
                  <option value="{$row.ACCNO}">{$row.ACCNO}</option>
                  {/foreach}
                </select>
               <!--  <select class="form-control" name="bonus" id="bonus">
                  <option value="">-- All Bonus --</option>
                  {foreach from=$allbonus item=a}
                  <option value="{$a.module}">{$a.full}</option>
                  {/foreach}
                </select> -->
              </div>
              <div class="form-group">
                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                  <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                  <span></span> <b class="caret"></b>
                </div>
                <input type="hidden" name="tglnya" id="tglnya" value="">
              </div>

              <button type="button" class="btn btn-success" id="ajax-button"><span class="ladda-label">Submit</span></button>
              <aa id="to-excel-bonus" hidden>
                <!-- <button id="to-excel" type="submit" class="btn btn-green-3">
                  <i class="fa fa-file-text"></i> Export to Excell
                </button> -->
              </aa>
            </form>
            <br/>
            <table class="table table-hover table-striped" id="ajax-table">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Account</th>
                  <th>From</th>
                  <th>Amount</th>
                  <th>Date</th>
                  <th>Comment</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="8" class="text-center"><em>No data ...</em></td>

                </tr>


              </tbody>
            </table>
            <br>
            <br>
          </div>
                </div>
            </div>
        </div>
    </div>
    <script src="custom/daterange/js/moment.js" type="text/javascript">
    </script>
    <script src="custom/daterange/js/daterangepicker.js" type="text/javascript">
    </script>
    <script src="custom/js/ar_transaction_history.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
        ar_transaction_history_JS.init();
        $('button[name=get_data]').click(function(event) {
          /* Act on the event */
          $data = $('form[id=ajax-form]').serializeArray();
          // console.log($data);
          ar_transaction_history_JS.get_data($data, this);
        });
      });
    </script>
    <script type="text/javascript">
        $(function() {

    function cb(start, end) {
      $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
      $('#tglnya').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
    }
    cb(moment().subtract(29, 'days'), moment());

    $('#reportrange').daterangepicker({
      ranges: {
        'Today': [moment(), moment()],
        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
        'This Month': [moment().startOf('month'), moment().endOf('month')],
        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
      }
    }, cb);

  });
    </script>
    <script src="custom/js/ar_wrb_report.js" type="text/javascript"></script>
{literal}
<script>
  jQuery(document).ready(function() {
    ar_wrb_report_JS.init();
    $('button[id=ajax-button]').click(function(event) {
      $button = $(this);
      $data = $('form[name=ajax-form]').serializeArray();
      ar_wrb_report_JS.get_data($data, $button);
    });
    
  });
</script>
{/literal}
</div>