										<form class="form-horizontal" role="form">
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">ID :</label>
												<div class="col-sm-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil}</label>
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Date Time :</label>
												<div class="col-sm-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil0}</label>
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Account :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil1}</label>
												</div> 
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">From :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil2}</label>	 
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Upline :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil3}</label>	 
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Commission :</label>
												<div class="col-md-4">
												<!-- <label class="col-sm-8 control-label" style="text-align : left">{$tampil4}</label>  -->
												<input type="text" name="comisi" class="form-control datenya" value="{$tampil4}">
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Lot :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil5}</label>	
												</div>
											</div>
											<div class="form-group">
												<div class="modal-footer">		
													<input type="button" class="btn btn-info" name="edit" value="Edit"
													onClick="car_shocom_JS.editya(comisi.value, '{$tampil}');">
													&nbsp;&nbsp;<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
												</div>
											</div>
										</form>