<div id="main_content" class="content">

    <div class="page-heading">
        <h1><i class="icon-lock-3"></i>Admin Change Password</h1>           	
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-content padding">						
                    <div id="horizontal-form">
                        <form id="updateps-form" class="form-horizontal"  role="form">
                            <div class="form-group">
                                <label for="oldPassword" class="col-sm-2 control-label">Select User</label>
                                <div class="col-sm-10">
                                    <select name="marem" id="marem" class="form-control"
									 onChange="admin_changepassword_JS.shownya(marem.value);">
										  <option value="">-- Select Email ID --</option>
										  {foreach from=$view key=view item=i}
										  <option value="{$i.email}" {if $i.email == $shownya} selected{/if}>{$i.email}</option>
										  {/foreach}
									</select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="oldPassword" class="col-sm-2 control-label">User Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control"  name="namenya" value="{$namanya}" disabled>
                                   
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="f_up_password" name="password1">
                                    <p class="help-block">New Password Please type Here</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="" class="col-sm-2 control-label">Password</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="f_up_rpassword" name="password2"  >
                                    <p class="help-block">New Password Please Re - type Here</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10" id="updateps-form-btn">
									<input type="button" class="btn btn-success" name="Approv" value="Validate"
									onClick="admin_changepassword_JS.admin1(marem.value, namenya.value, password1.value, password2.value);">
                                </div>
                            </div>


                        </form>
						<!-- <script type="text/javascript">
						function sum(){
						  var mincar = 5;
						  if (f_up_password.value.length < mincar){
							alert("Panjang Password Minimal 5 Karater!");
							f_up_password.focus();
							return (false);
						  }
						   return (true);
						}
						</script> -->
						
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>
<!-- JAVASCRIOPT -->
<!-- End right content -->
<script src="assets/libs/pace/pace.min.js"></script>

{literal}
<script src="custom/js/car_admin_changepassword.js" type="text/javascript"></script>
<script>
    //IS VERY IMPORTANT Load Ajax Page before below Initial, if not all scroll problem
    jQuery(document).ready(function() {
        admin_changepassword_JS.init();
    });

</script>

<script src="assets/libs/jquery-notifyjs/notify.min.js"></script>
<script src="assets/libs/jquery-notifyjs/styles/metro/notify-metro.js"></script>
<script src="custom/js/noty_general.js"></script>

{/literal}