				<div class="row">
					<div class="col-sm-6 portlets">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>New</strong> Upline</h2>
							</div>
							<div class="widget-content padding">							
								<table class="table table-striped table-bordered " cellspacing="0" style="font-family:calibri; center; font-size:100%;">
									<thead>
										<tr>
											<th class="text-center">Name</th>
											<th class="text-center">Email</th>
										</tr>
									</thead>                            
									<tbody class="text-center">
									{foreach from=$uplinenew key=uplinenew item=i}
										<tr>
											<td>{$i.name}</td>
											<td>{$i.email}</td>                                     
										</tr>		
									{/foreach}           
									</tbody>
								</table>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 portlets">
						<div class="widget">
							<div class="widget-header transparent">
								<h2><strong>old</strong> Upline</h2>
							</div>
							<div class="widget-content padding">						
								<table class="table table-striped table-bordered " cellspacing="0" style="font-family:calibri; center; font-size:100%;">
									<thead>
										<tr>
											<th class="text-center">Name</th>
											<th class="text-center">Email</th>
										</tr>
									</thead>                      
									<tbody class="text-center">
										{foreach from=$uplineold key=uplineold item=i}
										<tr>
											<td>{$i.name}</td>
											<td>{$i.email}</td>                                     
										</tr>		
										{/foreach}   			
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				
				<div class="widget">
					<div class="widget-header transparent">
						<h2><strong>Change</strong> Meta Upline</h2>
					</div>
					<div class="widget-content padding">
						<div id="horizontal-form">
							<form class="form-horizontal" role="form">
								<div class="form-group">
									<label class="col-sm-4 control-label">Select Meta login :</label>
										<div class="col-sm-4">
											<select name="marem" class="form-control" onChange="Uplinechange_2.metashow(marem.value);">										
																		  <option value= "">-- Select Meta login --</option>
																		  {foreach from=$view key=view item=i}
																		  <option value="{$i.group_play}">{$i.group_play}</option>
																		  {/foreach}
															</select>
										</div>
								</div>
							</form>
						</div>
					</div>
				</div>