<div id="main_content" class="content">
<link href="assets/libs/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<link href="assets/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css" />
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="custom/datatable2/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="custom/datatable2/resources/syntax/shCore.css">

<script type="text/javascript" language="javascript" src="custom/datatable2/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="custom/datatable2/resources/syntax/shCore.js"></script>
<script type="text/javascript" language="javascript" src="custom/datatable2/resources/demo.js"></script>
<!-- <link rel="stylesheet" href="custom/js/phone/intlTelInput.css"> -->
  <!-- Page Heading Start -->
  <div class="page-heading">
    <h1><i class="icon-user-3"></i>Users Account Registration
    </h1>
    <h3>Here you can create a new Account</h3>
  </div>
  <!-- Page Heading End-->
  <div class="row">
    <div class="col-md-12 portlets">
      <div class="widget">
        <div class="widget-header ">
          <h2>Dear Manager,</h2>
          <div class="additional-btn">
            <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
          </div>
        </div>
        <div class="widget-content padding">
          <div class="alert alert-info nomargin">
            *  Please fill up your referral email or click on admin if you do not have one 
            <br>
            * Include the box for admin / introducer email for the public
          </div>
          <br>
         
        </div>
      </div>
    </div>
   

    
			<div class="col-md-12 portlets">
				<div class="widget-content">				
                    <div class="table-responsive">
                       <form class='form-horizontal' role='form'>
                          <table id="datatables-1" class="table table-striped table-bordered">
                             <thead>
                                <tr>
                                   <th>Datetime</th>
                                   <th>Upline Email</th>
                                   <th>Name</th>
                                   <th>Log Meta</th>
                                   <th>Branch Id</th>
								   <th>Group Branch Id</th>
                                   <th>Telp</th>
                                   <th>Email</th>
                                   <th>Creat Account</th>
                                </tr>
                           </thead>
                           <tfoot>
                            <tr>
                               <th>Datetime</th>
                                   <th>Upline Email</th>
                                   <th>Name</th>
								   <th>Log Meta</th>
                                   <th>Branch Id</th>
                                   <th>Group Branch Id</th>
                                   <th>Telp</th>
                                   <th>Email</th>
                                   <th>Creat Account</th>
                           </tr>
                       </tfoot>
                       <tbody>
                           {foreach from=$ceks key=cek item=i}
                           <tr>
                               <td>{$i.datetime}</td>
                               <td>{$i.upline}</td>
                               <td>{$i.name}</td>
                               <td>{$i.Log_meta}</td>
                               <td>{$i.city}</td>
                               <td>{$i.group_city}</td>
                               <td>{$i.telp}</td>
                               <td>{$i.email}</td>
                               <td>{$i.creat_account}</td>
                           </tr>
							 {/foreach} 
                       </tbody>
                   </table>
               </form>
           </div>
       </div> 
       </div> 
    <div class="col-md-12 portlets">
      <div class="widget">
        <div class="widget-header transparent">
          
          <h2>Ready to join ?</h2>
       
        </div>
        <div class="widget-content padding">
          <form id="registerForm" class="form-horizontal"  role="form"  method="post" action="mm_new_level?postmode=createnewlevel">
			<div class="form-group">
              <label class="col-sm-6 control-label">Please Fill in Marketing Email</label>
              <div class="col-sm-6">
                <!-- <input type="marem" name="marem" class="form-control" placeholder="Enter Marketing email"> -->
					<select name="marem" id="marem" class="form-control" 
					onChange="car_MLM_Registration_JS.shownya(marem.value);">
						  <option value="">-- Select Email ID --</option>
						  {foreach from=$ceks key=cek item=i}
						  <option value="{$i.email}" {if $i.email == $shownya} selected{/if}>{$i.email}</option>
						  {/foreach}
					</select>
              </div>
            </div>
		   <div class="form-group">
              <label class="col-sm-6 control-label">Please Fill in Upline Email</label>
              <div class="col-sm-6">
                <input type="email" name="email" class="form-control" placeholder="Enter Upline email" value="{$tampil}">
              </div>
            </div>
			<div class="form-group">
              <label class="col-sm-6 control-label">Group Branch</label>
              <div class="col-sm-6">
                <input type="email" name="logmeta" class="form-control" placeholder="Group Branch" value="{$tampil1}">
              </div>
            </div>
			<div class="form-group">
              <label class="col-sm-6 control-label">Branch</label>
              <div class="col-sm-6">
                <input type="branch" name="branch" class="form-control" placeholder="Enter Branch" value="{$tampil2}">
              </div>
            </div>
						
            <div class="form-group hidden">
              <label class="col-sm-6 control-label">Please Select the Plan</label>
              <div class="col-sm-6">
                <select class="form-control" name="rupiah">
                  <option value ="no_plan">No Plan</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label"></label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="button" class="btn btn-success" id="pecah-form-btn"
                  name="mm_new_level_child"  value="Approve"
                  onClick="getElementById('pecah-form-btn').style.display = 'none';
                  car_MLM_Registration_JS.mm_new_level2(rupiah.value, email.value, marem.value, logmeta.value, branch.value);" />
                  </div><!-- /input-group -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
				<div class="row">
					<div class="col-md-12 portlets">
                        <div class="widget">
                            <div class="widget-header ">
                                <h2>Users Account Registration</h2>
                                <div class="additional-btn">
                                    <!--<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a> -->
                                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                                    <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                                </div>
                            </div>
                            <div class="widget-content padding">
                            <div class="alert alert-info">
                               * This form to approve marketing registration.
                            </div>
                            </div>
                        </div>
                    </div>			
                </div>	
</div>
						
	
  
	
    {literal}
    <script src="custom/js/car_mlm_registration_bm.js" type="text/javascript"></script>
    <script>
    jQuery(document).ready(function() {
    car_MLM_Registration_JS.init();
    });
    </script>
    {/literal}
    <script src="custom/js/noty_general.js"></script>
  </div>
  
<script src="assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
<script src="assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="assets/js/pages/datatables.js"></script>