
<!-- Extra CSS Libraries Start -->

<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
<!-- Extra CSS Libraries End -->
<!-- Extra CSS Libraries Start -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
<!-- Extra CSS Libraries End -->
<div id="main_content" class="content">
	<div class="page-heading">
		<h1>
			<i class='fa icon-list'></i> Change Account Password
		</h1>
	</div>
	<!-- Page Heading End-->
	<!-- Your awesome content goes here -->
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header transparent">
					<h2>
						<strong>Live</strong> Account
					</h2>
					<div class="additional-btn">
						<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a> <a
							href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
						<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
					</div>
				</div>
				<div class="widget-content padding">
					<h4>
						<i class="icon"><img src="images/logo/trader/mt-icon.png" height="50"></i>
						<strong> MT4 Account</strong>
					</h4>
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>Account</th>
									<th>Label</th>
									<th>Account type</th>
									<th>Leverage</th>
									<th>Currency</th>
									<th>Balance</th>
									<th>Free Margin</th>
									<th><a href="#"><i class="fa fa-plus"></i> Open New
											Account</a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#" data-toggle="collapse"
										data-target="#liveMt4">31231231</a></td>
									<td>MT4 Account</td>
									<td>MT4</td>
									<td>1:400</td>
									<td>USD</td>
									<td>4,500</td>
									<td>200</td>
								</tr>
								<tr>
									<td colspan="7">
										<!-- 			<button data-toggle="collapse" data-target="#demo">Collapsible</button> -->
										<div id="liveMt4" class="collapse">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">Username</label>
													<div class="col-sm-4">
														<p class="form-control-static">DTPro</p>
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">old
														Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">New
														Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">Confirm
														New Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">

													<div class="col-sm-offset-2 col-sm-2">
														<button class="btn btn-success">Submit</button>
													</div>
												</div>
											</form>
										</div>


										</div>
										</div>

									</td>

								</tr>

							</tbody>
						</table>
					</div>
					<br>
					<h4>
						<i class="icon"><img src="images/logo/trader/cTrader.png"
							height="30"></i> <strong> CTrader Account</strong>
					</h4>
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>Account</th>
									<th>Label</th>
									<th>Account type</th>
									<th>Leverage</th>
									<th>Currency</th>
									<th>Balance</th>
									<th>Free Margin</th>
									<th><a href="#"><i class="fa fa-plus"></i> Open New
											Account</a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#" data-toggle="collapse"
										data-target="#livecTrader">31231231</a></td>
									<td>MT4 Account</td>
									<td>MT4</td>
									<td>1:400</td>
									<td>USD</td>
									<td>4,500</td>
									<td>200</td>
								</tr>
								<tr>
									<td colspan="7">
										<!-- 			<button data-toggle="collapse" data-target="#demo">Collapsible</button> -->
										<div id="livecTrader" class="collapse">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">Username</label>
													<div class="col-sm-4">
														<p class="form-control-static">DTPro</p>
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">old
														Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">New
														Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">Confirm
														New Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">

													<div class="col-sm-offset-2 col-sm-2">
														<button class="btn btn-success">Submit</button>
													</div>
												</div>
											</form>
										</div>


										</div>
										</div>

									</td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page Heading End-->
	<!-- Your awesome content goes here -->
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header transparent">
					<h2>
						<strong>DEMO</strong> Account
					</h2>
					<div class="additional-btn">
						<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a> <a
							href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
						<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
					</div>
				</div>
				<div class="widget-content padding">
					<h4>
						<i class="icon"><img src="images/logo/trader/mt-icon.png" height="50"></i>
						<strong>MT4 Accounts</strong>
					</h4>
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>Account</th>
									<th>Label</th>
									<th>Account type</th>
									<th>Leverage</th>
									<th>Currency</th>
									<th>Balance</th>
									<th>Free Margin</th>
									<th><a href="#"><i class="fa fa-plus"></i> Open New
											Account</a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#" data-toggle="collapse"
										data-target="#demoMt4">31231231</a></td>
									<td>MT4 Account</td>
									<td>MT4</td>
									<td>1:400</td>
									<td>USD</td>
									<td>4,500</td>
									<td>200</td>
								</tr>
								<tr>
									<td colspan="7">
										<!-- 			<button data-toggle="collapse" data-target="#demo">Collapsible</button> -->
										<div id="demoMt4" class="collapse">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">Username</label>
													<div class="col-sm-4">
														<p class="form-control-static">DTPro</p>
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">old
														Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">New
														Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">Confirm
														New Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">

													<div class="col-sm-offset-2 col-sm-2">
														<button class="btn btn-success">Submit</button>
													</div>
												</div>
											</form>
										</div>


										</div>
										</div>

									</td>

								</tr>

							</tbody>
						</table>
					</div>
					<br>
					<h4>
						<i class="icon"><img src="images/logo/trader/cTrader.png"
							height="30"></i> <strong> CTrader Account</strong>
					</h4>
					<div class="table-responsive">
						<table class="table table-hover table-striped">
							<thead>
								<tr>
									<th>Account</th>
									<th>Label</th>
									<th>Account type</th>
									<th>Leverage</th>
									<th>Currency</th>
									<th>Balance</th>
									<th>Free Margin</th>
									<th><a href="#"><i class="fa fa-plus"></i> Open New
											Account</a></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#" data-toggle="collapse"
										data-target="#democTrader">31231231</a></td>
									<td>MT4 Account</td>
									<td>MT4</td>
									<td>1:400</td>
									<td>USD</td>
									<td>4,500</td>
									<td>200</td>
								</tr>
								<tr>
									<td colspan="7">
										<!-- 			<button data-toggle="collapse" data-target="#demo">Collapsible</button> -->
										<div id="democTrader" class="collapse">
											<form class="form-horizontal" role="form">
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">Username</label>
													<div class="col-sm-4">
														<p class="form-control-static">DTPro</p>
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">old
														Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">New
														Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">
													<label for="username" class="col-sm-2 control-label">Confirm
														New Password</label>
													<div class="col-sm-4">
														<input type="password" class="form-control">
													</div>
												</div>
												<div class="form-group">

													<div class="col-sm-offset-2 col-sm-2">
														<button class="btn btn-success">Submit</button>
													</div>
												</div>
											</form>
										</div>


										</div>
										</div>

									</td>

								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Page Specific JS Libraries -->
<script src="assets/js/pages/tabs-accordions.js"></script>

