<div id="main_content" class="content">
    <div class="page-heading">
        <h1><i class='fa icon-list'></i> OPEN A NEW DEMO ACCOUNT</h1>         	
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header transparent">
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <div class="alert alert-success">
                        To open a demo trading account you must complete the form below nominating your trading platform, account type, currency, leverage and initial deposit amount, once complete an email with your demo trading account login details will be automatcally sen to you. please remember to check your email.
                    </div>          
                    <div id="horizontal-form">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="tradingplatform" class="col-sm-2 control-label">Trading Platform</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="tradingplatform">
                                        <option value="">MT1</option>
                                        <option value="">MT2</option>
                                        <option value="">MT3</option>
                                        <option value="">MT4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="accounttype" class="col-sm-2 control-label">Account Type</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="accounttype">
                                        <option value="">True ECN</option>
                                        <option value="">Secod Type</option>
                                        <option value="">three Type</option>
                                        <option value="">Fourth Type</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="currency" class="col-sm-2 control-label">Currency</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="currency">
                                        <option value="">USD</option>
                                        <option value="">IDR</option>
                                        <option value="">RMY</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="leverage" class="col-sm-2 control-label">Leverege</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="currency">
                                        <option value="">1:500</option>
                                        <option value="">2:1000</option>
                                        <option value="">3:1500</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="initialdeposit" class="col-sm-2 control-label">Initial Deposit</label>
                                <div class="col-md-4">
                                    <select class="form-control" name="initialdeposit">
                                        <option value="">3000</option>
                                        <option value="">6000</option>
                                        <option value="">8000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-4">
                                    <button type="submit" class="btn btn-success btn-block">PROCEED <span class="glyphicon glyphicon-play"></span></button>
                                </div>
                            </div>
                        </form>              
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>