<div id="main_content" class="content">
    <div class="page-heading">
        <h1 style="font-family:calibri;font-size:300%;"><i class='fa icon-list'></i> DEPOSIT FOUNS</h1><br></br>
        <p style="font-family:calibri;font-size:120%;">Curencies Accepted: AUD, USD, EUR, GBP, NZD, JPY, HKD, CHF, CAD</p>
        <p style="font-family:calibri;font-size:120%;">The minimum funding amount required to open a new trading account is USD $200.</p>
    </div>
    <div class="page-content"> 
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget yellow-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/1.jpg"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-1"><img src="images/deposit/msc.jpg"></img> </div>
                                <div class="col-sm-8"><p>You can fund your account using visa or Master Card via Secure SSL Multi-currency payment portal 24/7.</p> 
                                    <p>9 Accepted Currency :<b> AUD, USD, JPY, EUR, NZD, SGD, GBP, CAD, CHF</b></p>
                                    <p>Accepted Card:<b> Visa, Visa Debit, Mastercard</b></p>
                                    <p>Procesing time (approx):<b>Instant</b></p></div></div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-3">
                                    <button type="submit" class="btn btn-default btn-block disabled" style="font-family:calibri;font-size:100%;">ADD NEW CREDIT / DEBIT CARD</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="WithdrawalMethod" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Funds Now by Credit / Debit Card :</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>Bank Transfer, Internasional Wire</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Name on Card :</label>
                                <div class="col-xs-4">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Card Number :</label>
                                <div class="col-xs-3">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div>
                                <div class="col-xs-1">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Expiry Date :</label>
                                <div class="col-xs-2">
                                    <input class="form-control datepicker-input" data-mask="9999-99-99" placeholder="yyyy-mm-dd" type="text"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">CVV :</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TradingAccount" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Trading Account :</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>MT4 2089107067</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>                   
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Gross De posit Amount :</label>
                                <div class="col-xs-3">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div><h4>USD</h4>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-3">
                                    <button type="submit" class="btn btn-default btn-block disabled" style="font-family:calibri;font-size:100%;">PROCEED</button>
                                </div>
                            </div>					
                            <div class="form-group">				
                                <div class="col-sm-12" style="text-align:justify"><p>Please ensure that you have uploaded a color scan or photo of the front of your card to our secure
                                        file upload system. Please note that if you fund using different cards you must repeat this process for each new card used. 
                                        We will only accept credit / debit card deposits where the name on the account matches the name on the card / debit card</p> 
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/2.jpg"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now using Neteller&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-2"><img src="images/deposit/neteller.jpg"></img> </div>
                                <div class="col-sm-8">
                                    <p>7 Accepted Currency :<b> AUD, USD, JPY, EUR, SGD, GBP, CAD</b></p>					
                                    <p>Procesing time (approx):<b>Instant</b></p></div></div>					
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Neteller Account ID :</label>
                                <div class="col-xs-4">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Secure ID or Authentication code :</label>
                                <div class="col-xs-4">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="TradingAccount" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Trading Account :</label>
                                <div class="col-sm-4">
                                    <select class="form-control">
                                        <option>MT4 2089107067</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Gross De posit Amount :</label>
                                <div class="col-xs-3">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div><h4>USD</h4>
                            </div>
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Neteller Fee :</label>
                                <div class="col-xs-3">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div>						
                            </div>
                            <div class="form-group">				
                                <div class="col-sm-6" style="text-align:justify"><p>Please ensure that you have uploaded a color scan or photo of the front of your card to our secure
                                        file upload system. Please note that if you fund using different cards you must repeat this process for each new card used. 
                                        We will only accept credit / debit card deposits where the name on the account matches the name on the card / debit card</p> 
                                </div></div>
                            <div class="form-group">
                                <label for="Iwoldliketowhitdrawal" class="col-sm-2 control-label-left" style="font-family:calibri;font-size:100%;">Final Deposit Amount :</label>
                                <div class="col-xs-2">
                                    <input class="form-control" id="input-text" placeholder="0" type="text"> 
                                </div>
                            </div>					              
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-3">
                                    <button type="submit" class="btn btn-default btn-block disabled" style="font-family:calibri;font-size:100%;">PROCEED</button>
                                </div>
                            </div>										

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1" style="vertical-align: center"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/3.jpg"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now using Skrill (Moneybookers)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="text-align: center;">
                                <h2>during the construction please info what you want to us</h2>                        
                            </div>       
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/4.jpg"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now using fasapay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="text-align: center;">
                                <h2>during the construction please info what you want to us</h2>                        
                            </div>                     
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/5.jpg"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund by Wire Transfer / Bank Transfer / TT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="text-align: center;">
                                <h2>during the construction please info what you want to us</h2>                        
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/6.png"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund by Local Bank Transfer (outside Australia)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="text-align: center;">
                                <h2>during the construction please info what you want to us</h2>                        
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/7.jpg"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund by POLI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="text-align: center;">
                                <h2>during the construction please info what you want to us</h2>                        
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/8.jpg"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund by Broker to Broker Transfer&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="text-align: center;">
                                <h2>during the construction please info what you want to us</h2>                        
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/9.png"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now using Webmoney&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="text-align: center;">
                                <h2>during the construction please info what you want to us</h2>                        
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 portlets">
                <div class="widget green-2">
                    <div class="widget-header">								
                        <div class="additional-btn" style="left: 13px;">									
                            <a href="#" class="widget-toggle"><i class="icon-right-bold-1"></i></a>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="images/deposit/10.jpg"></img>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Bpay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fund Now by Credit/Debit Card&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fee: Free
                        </div>
                    </div>
                    <div class="widget-content padding" style="display: none; background-color: white; color: black;">
                        <form class="form-horizontal" role="form">
                            <div class="form-group" style="text-align: center;">
                                <h2>during the construction please info what you want to us</h2>                        
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>