<div id="main_content" class="content">
    <div class="page-heading">
        <h1><i class="icon-vcard"></i>Deposit</h1>           	
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header transparent">
                    <h2><strong>Toolbar</strong></h2>
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content">																	
                    <div class="table-responsive">								
                        <table data-sortable-initialized="true" data-sortable="" class="table table-hover" cellspacing="10" width="100%" style="font-family:calibri;font-size:100%;">
                            <thead>
                                <tr>												
                                    <th style="width" 30px></th>																				
                                    <th style="width" 114px></th>																				
                                    <th style="width" 283px></th>																				
                                    <th style="width" 179px></th>																				
                                    <th style="width" 141px></th>																				
                                    <th style="width" 114px></th>																														
                                </tr>								
                            </thead>										
                            <tbody>									
                                <tr>
                                    <td bgcolor="aqua" ><i class='fa icon-play-3'></i></td>
                                    <td bgcolor="aqua"><img src="images/deposit/1.jpg"></img></td>
                                    <td bgcolor="aqua"><a href="http://www.google.com">Fund Now by Credit/Debit Card</a></td>
                                    <td bgcolor="aqua">Faundin time: Instant</td>
                                    <td bgcolor="aqua">Fee: Free</td>
                                    <td bgcolor="aqua"></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/2.jpg"></img></td>
                                    <td><a href="http://www.google.com">Fund Now using Neteller</a></td>
                                    <td>Faundin time: Instant</td>
                                    <td>Fee: Fee: 2.7% plus USD 30s</td>
                                    <td></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/3.jpg"></img></td>
                                    <td><a href="http://www.google.com">Fund Now using Skrill (Moneybookers)</a></td>
                                    <td>Faundin time: Instant</td>
                                    <td>Fee: 2.7%</td>
                                    <td></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/4.jpg"></img></td>
                                    <td><a href="http://www.google.com">Fund Now using fasapay</a></td>
                                    <td>Faundin time: Instant</td>
                                    <td>Fee: Free</td>
                                    <td></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/5.jpg"></img></td>
                                    <td><a href="http://www.google.com">Fund by Wire Transfer / Bank Transfer / TT</a></td>
                                    <td>Faundin time: 12-48 hours</td>
                                    <td>Fee: Free</td>
                                    <td></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/6.png"></img></td>
                                    <td><a href="http://www.google.com">Fund by Local Bank Transfer (outside Australia)</a></td>
                                    <td>Faundin time: 22-72 hour</td>
                                    <td>Fee: Free</td>
                                    <td></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/7.jpg"></img></td>
                                    <td><a href="http://www.google.com">Fund by POLI</a></td>
                                    <td>Faundin time: Instant</td>
                                    <td>Fee: Free</td>
                                    <td></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/8.jpg"></img></td>
                                    <td><a href="http://www.google.com">Fund by Broker to Broker Transfer</a></td>
                                    <td>Faundin time: 22-72 hour</td>
                                    <td>Fee: Free</td>
                                    <td></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/9.png"></img></td>
                                    <td><a href="http://www.google.com">Fund Now using Webmoney</a></td>
                                    <td>Faundin time: Instant</td>
                                    <td>Fee: 30%</td>
                                    <td></td>
                                </tr><tr>
                                    <td><i class='fa icon-play-3'></td>
                                    <td><img src="images/deposit/10.jpg"></img></td>
                                    <td><a href="http://www.google.com">Fund Now by Bpay</a></td>
                                    <td>Faundin time: 12-48 hours</td>
                                    <td>Fee: Free</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>																	
                </div>
            </div>
        </div>

    </div>