 <div class="content">            					
				<div class="page-heading">
            		<h1 style="font-family:calibri;font-size:300%;"><i class='fa  icon-list'></i> DOWNLOADS</h1>
				</div>
								<div class="row">
					<div class="col-sm-12">
						<div class="widget">
							<div class="widget-header">								
								<div class="additional-btn">
									<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
									<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
									<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
								</div>
								</div>
								<div class="widget-content padding">	                            
								<ul id="demo2" class="nav nav-tabs">
									<li class="active">
										<a href="#demo2-Meta" data-toggle="tab"><img src="images/download/meta.png"></img><br>Meta Trader4</a>
									</li>
									<li class="">
										<a href="#demo2-webtrader" data-toggle="tab"><img src="images/download/web.png"></img><br>webtrader</a>
									</li>
									<li class="">
										<a href="#demo3-Apple" data-toggle="tab"><img src="images/download/apple.png"></img><br>Apple Mac</a>
									</li>
									<li class="">
										<a href="#demo3-Iphon" data-toggle="tab"><img src="images/download/apple.png"></img><br>Iphon</a>
									</li>
									<li class="">
										<a href="#demo3-Android" data-toggle="tab"><img src="images/download/android.png"></img><br>Android</a>
									</li>
									<li class="" Style="img-align: center;">
										<a href="#demo3-One" data-toggle="tab"><img src="images/download/meta.png" Style="img: center;"></img><br>One-Click Trading</a>
									</li>
									 
								</ul>
								<div class="tab-content tab-boxed">
									<div class="tab-pane fade active in" id="demo2-Meta"><img src="images/download/mt4.png"></img>
										<p>MetaTrader 4 is the most popular trading platform in the world. The MetaTrader 4 software offers a feature-rich, user-friendly interface 
										and a highly customisable trading environment, designed to ful fill all your trading needs and enhance your trading performance. Charting 
										functionality and innovative order management tools ensure that you can monitor your positions fast and efficiently. </p>
										<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">DOWNLOAD MT4</button>
									</div> <!-- / .tab-pane -->
									<div class="tab-pane fade" id="demo2-webtrader"><img src="images/download/web1.png"></img>
										<p> MetaTrader 4 is the most popular trading platform in the world and it is now available as a web based application. MetaTrader 4 web software
										offers the same easy to use functionality as the desktop version with advanced charting, highly customisable trading environment, trading tools 
										and a variety of indicators. You can enjoy our True ECN trading environment with No Dealing Desk from anywhere in the world. </p>
										<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">OPEN METATRADER WEB</button>
									</div> <!-- / .tab-pane -->
									<div class="tab-pane fade" id="demo3-Apple"><img src="images/download/apple1.png"></img>
										<p> MetaTrader 4 is the most popular trading platform in the world. Cabinet have developed a custom built application that now allows 
										Apple Mac users to take advantage of the many features Metatrader 4 offers without having to install parallel operating systems. 
										Our proprietary MetaTrader 4 for Mac application offers the same functionally afforded to PC users, now Apple Mac users can install 
										and run EA’s and take advantage of many of the third party applications available for this popular trading platform.</p>
										<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">DOWNLOAD MT4 FOR APPLE MAC</button>
									</div> <!-- / .tab-pane -->
									<div class="tab-pane fade" id="demo3-Iphon"><img src="images/download/apple1.png"></img>
										<p>cabinet has an iPhone 4 trading solution. Forex traders using the iPhone – 2G, 3G, 3Gs or 4G can download the Metaquotes MetaTrader 
										4 application for free of charge from Apple’s App Store. cabinet clients have instant access to the financial markets at their fingertips,
										with the ability to fully manage a portfolio on the move.</p>
										<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">IPHONE APP</button>
									</div>
									<div class="tab-pane fade" id="demo3-Android"><img src="images/download/android1.png"></img>
										<p>  Meatquotes Android Trader is designed specifically for Android-based mobile devices and tablets used by millions of people worldwide. 
										Cabinet provides the technology so that clients can monitor the market and trade directly from their Android-based Smartphones. 
										The Android Trader solution enable traders to take advantage of multiple advanced features that make Forex trading on the go fast, 
										straightforward and secure.</p>
										<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">Android APP</button>
									</div>
									<div class="tab-pane fade" id="demo3-One"><img src="images/download/mt1.png"></img>
										<p>Cabinet 1-Click Trade Manager Software considerably enhances Metatrader 4 Terminal by cutting down the number of actions users take 
										in order to perform a trade. Traders can buy or sell with a single click. It brings convenience and true real-time trading experience.</p>
							
                               <p> <label for="Iwoldliketowhitdrawal" class="col-sm-8 control-label-left" style="font-family:calibri;font-size:100%;">1) Please refer to the Installation Guide for detailed information :</label>
                               
                                   <button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">INSTALATION GUID</button> </p>
                                
                            
							
                               <p> <label for="Iwoldliketowhitdrawal" class="col-sm-8 control-label-left" style="font-family:calibri;font-size:100%;">2) Download and run the installer :</label>
                                
                                  <button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">DOWNLOAD INSTALLER</button> </p>
                               
                           
							
                                <label for="Iwoldliketowhitdrawal" class="col-sm-8 control-label-left" style="font-family:calibri;font-size:100%;">3) Copy the EA file into the Experts folder in MQL4 :</label>
                                
                                   <button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">DOWNLOAD EA</button>
                               
                            										
									</div> <!-- / .tab-pane -->
								</div>
								<br>
								<ul id="demo2" class="nav nav-tabs">
									<li class="active">
										<a href="#demo2-home" data-toggle="tab"><img src="images/download/ctrader.png"></img><br>Deckstop</a>
									</li>
									<li class="">
										<a href="#demo2-profile" data-toggle="tab"><img src="images/download/ctrader.png"></img><br>Web</a>
									</li>
									<li class="">
										<a href="#demo3-profile" data-toggle="tab"><img src="images/download/ctrader.png"></img><br>Mobile Web</a>
									</li>
									<li class="">
										<a href="#demo3-home" data-toggle="tab"><img src="images/download/ctrader.png"></img><br>Calago</a>
									</li>									 
								</ul>
								<div class="tab-content tab-boxed">
									<div class="tab-pane fade active in" id="demo2-home"><img src="images/download/ctrader1.jpg"></img>
										<p>cTrader is an innovative ECN (Electronic Communication Network) trading platform,
											designed specifically with active forex traders in mind. cTrader combines the speeds
											of an ECN trading platform with the multi-bank liquidity of IC Markets True ECN
											environment, providing clients with the ultimate in trading solutions. cTrader utilises proven technology
											that will enable you to take your trading to the next level. </p>
											<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">SEND REQUEST</button>
									</div> <!-- / .tab-pane -->
									<div class="tab-pane fade" id="demo2-profile"><img src="images/download/ctrader1.jpg"></img>
										<p>cTrader Web offers the ultra fast order execution capabilities of cTrader with the ease and convenience of being a web based application.
											cTrader web has a user-friendly and web-based platform allowing you to enjoy True ECN trading with
											No Dealing Desk trading from anywhere in the world. </p>
											<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">SEND REQUEST</button>
									</div> <!-- / .tab-pane -->
									<div class="tab-pane fade" id="demo3-profile"><img src="images/download/ctrader1.jpg"></img>
										<p> Trade and manage your account from anywhere in the world with cTrader Mobile Web for phones
												and tablets. 
											This portable version of cTrader can be accessed from any iOS or Android device, so
												you're never more than a touch away from the world's liquid market. </p>
												<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">SEND REQUEST</button>
									</div> <!-- / .tab-pane -->
									<div class="tab-pane fade" id="demo3-home"><img src="images/download/ctrader1.jpg"></img>
										<p>cAlgo is an automated trading software used in conjunction with cTrader.
											cAlgo allows you to develop customized technical indicators for technical analysis
											using the source code editor and C# language. The custom indicators you build will
											appear in addition to the built-in indicators within cTrader.</p>
											<br>
										<button type="submit" class="btn btn-success disabled" style="font-family:calibri;font-size:100%;">SEND REQUEST</button>
									</div> <!-- / .tab-pane -->
								</div>								
					</div>            	
					</div>            	
					</div>            	
					</div>            	
				           	
            </div>