<div id="main_content" class="content">

    <div class="page-heading">
        <h1><i class="icon-lock-3"></i>Help</h1>           	
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-content padding">							
                    <table id="user" class="table table-bordered table-striped" style="clear: both">
                        <tbody>                         
                            <tr>         
                                <td>User Manual</td>
                                <td><a href="#" id="firstname" data-type="text" data-pk="1" data-placement="right" data-placeholder="Required" data-title="Enter your firstname">Under Construction</a></td>
                            </tr>  


                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>  
</div>