<link href="custom/daterange/css/daterangepicker.css" media="all" rel="stylesheet" type="text/css" />
<script src="custom/sweetalert/dist/sweetalert-dev.js"></script>
<link rel="stylesheet" href="custom/sweetalert/dist/sweetalert.css">
<!-- Modal -->
<div class="content" id="main_content">
    <script src="custom/sweetalert/dist/sweetalert-dev.js">
    </script>
    <link href="custom/sweetalert/dist/sweetalert.css" rel="stylesheet">
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1>
            <i class="fa fa-wrench">
            </i>
            Multi Loket
         </h1>
    </div>
    <!-- Page Heading End-->
    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header ">
                    <h2>
					Daftar Harga
                  </h2>
                    <div class="additional-btn">
                        <a class="widget-toggle" href="#">
                            <i class="icon-down-open-2">
                        </i>
                        </a>
                    </div>
                </div>
                <br>
                <div class="widget-content padding">
                    <div class="row">
                        <div class="col-sm-12">
						<table width="100%" border="1" cellspacing="0" cellpadding="3">
							<tr>
							<td width="4%" align="center" bgcolor="#999999">#</td>
							<td width="30%" align="center" bgcolor="#999999">Kode Produk</td>
							<td width="51%" align="center" bgcolor="#999999">Nama</td>
							<td width="15%" align="right" bgcolor="#999999">Harga Jual</td>
						  </tr>
							<tr>
									  <td align="center">1</td>
							<td align="center">AXIS10</td>
							<td align="center">AXIS</td>
							<td align="right">10.700</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">2</td>
							<td align="center">AXIS100</td>
							<td align="center">AXIS</td>
							<td align="right">96.628</td>
						  </tr>
								<tr>
									  <td align="center">3</td>
							<td align="center">AXIS25</td>
							<td align="center">AXIS</td>
							<td align="right">25.100</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">4</td>
							<td align="center">AXIS5</td>
							<td align="center">AXIS</td>
							<td align="right">5.650</td>
						  </tr>
								<tr>
									  <td align="center">5</td>
							<td align="center">AXIS50</td>
							<td align="center">AXIS</td>
							<td align="right">49.900</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">6</td>
							<td align="center">ESIA10</td>
							<td align="center">ESIA</td>
							<td align="right">10.241</td>
						  </tr>
								<tr>
									  <td align="center">7</td>
							<td align="center">ESIA100</td>
							<td align="center">ESIA</td>
							<td align="right">94.815</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">8</td>
							<td align="center">ESIA25</td>
							<td align="center">ESIA</td>
							<td align="right">24.255</td>
						  </tr>
								<tr>
									  <td align="center">9</td>
							<td align="center">ESIA5</td>
							<td align="center">ESIA</td>
							<td align="right">5.341</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">10</td>
							<td align="center">ESIA50</td>
							<td align="center">ESIA</td>
							<td align="right">48.755</td>
						  </tr>
								<tr>
									  <td align="center">11</td>
							<td align="center">FASTBLACK10</td>
							<td align="center">GAME</td>
							<td align="right">9.506</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">12</td>
							<td align="center">FASTBLACK100</td>
							<td align="center">GAME</td>
							<td align="right">93.296</td>
						  </tr>
								<tr>
									  <td align="center">13</td>
							<td align="center">FASTBLACK25</td>
							<td align="center">GAME</td>
							<td align="right">23.471</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">14</td>
							<td align="center">FASTBLACK50</td>
							<td align="center">GAME</td>
							<td align="right">46.746</td>
						  </tr>
								<tr>
									  <td align="center">15</td>
							<td align="center">G-GEMSCOOL10</td>
							<td align="center">GAME</td>
							<td align="right">9.653</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">16</td>
							<td align="center">G-GEMSCOOL100</td>
							<td align="center">GAME</td>
							<td align="right">93.198</td>
						  </tr>
								<tr>
									  <td align="center">17</td>
							<td align="center">G-GEMSCOOL20</td>
							<td align="center">GAME</td>
							<td align="right">19.208</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">18</td>
							<td align="center">G-GEMSCOOL200</td>
							<td align="center">GAME</td>
							<td align="right">186.298</td>
						  </tr>
								<tr>
									  <td align="center">19</td>
							<td align="center">G-GEMSCOOL30</td>
							<td align="center">GAME</td>
							<td align="right">28.028</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">20</td>
							<td align="center">G-GEMSCOOL300</td>
							<td align="center">GAME</td>
							<td align="right">279.398</td>
						  </tr>
								<tr>
									  <td align="center">21</td>
							<td align="center">G-GEMSCOOL50</td>
							<td align="center">GAME</td>
							<td align="right">46.648</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">22</td>
							<td align="center">IAH10</td>
							<td align="center">GAME</td>
							<td align="right">9.310</td>
						  </tr>
								<tr>
									  <td align="center">23</td>
							<td align="center">IAH100</td>
							<td align="center">GAME</td>
							<td align="right">91.336</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">24</td>
							<td align="center">IAH20</td>
							<td align="center">GAME</td>
							<td align="right">18.424</td>
						  </tr>
								<tr>
									  <td align="center">25</td>
							<td align="center">IAH50</td>
							<td align="center">GAME</td>
							<td align="right">45.766</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">26</td>
							<td align="center">LYTO10</td>
							<td align="center">GAME</td>
							<td align="right">10.633</td>
						  </tr>
								<tr>
									  <td align="center">27</td>
							<td align="center">LYTO175</td>
							<td align="center">GAME</td>
							<td align="right">181.398</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">28</td>
							<td align="center">LYTO20</td>
							<td align="center">GAME</td>
							<td align="right">21.168</td>
						  </tr>
								<tr>
									  <td align="center">29</td>
							<td align="center">LYTO35</td>
							<td align="center">GAME</td>
							<td align="right">34.006</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">30</td>
							<td align="center">LYTO65</td>
							<td align="center">GAME</td>
							<td align="right">67.228</td>
						  </tr>
								<tr>
									  <td align="center">31</td>
							<td align="center">MEGAXUS10</td>
							<td align="center">GAME</td>
							<td align="right">9.310</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">32</td>
							<td align="center">MEGAXUS100</td>
							<td align="center">GAME</td>
							<td align="right">91.336</td>
						  </tr>
								<tr>
									  <td align="center">33</td>
							<td align="center">MEGAXUS20</td>
							<td align="center">GAME</td>
							<td align="right">18.424</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">34</td>
							<td align="center">MEGAXUS200</td>
							<td align="center">GAME</td>
							<td align="right">182.476</td>
						  </tr>
								<tr>
									  <td align="center">35</td>
							<td align="center">MEGAXUS50</td>
							<td align="center">GAME</td>
							<td align="right">45.766</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">36</td>
							<td align="center">SPIN10</td>
							<td align="center">GAME</td>
							<td align="right">9.702</td>
						  </tr>
								<tr>
									  <td align="center">37</td>
							<td align="center">SPIN100</td>
							<td align="center">GAME</td>
							<td align="right">95.256</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">38</td>
							<td align="center">SPIN20</td>
							<td align="center">GAME</td>
							<td align="right">19.208</td>
						  </tr>
								<tr>
									  <td align="center">39</td>
							<td align="center">SPIN30</td>
							<td align="center">GAME</td>
							<td align="right">28.714</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">40</td>
							<td align="center">SPIN50</td>
							<td align="center">GAME</td>
							<td align="right">47.726</td>
						  </tr>
								<tr>
									  <td align="center">41</td>
							<td align="center">WAVEPOINT10</td>
							<td align="center">GAME</td>
							<td align="right">9.310</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">42</td>
							<td align="center">WAVEPOINT100</td>
							<td align="center">GAME</td>
							<td align="right">91.238</td>
						  </tr>
								<tr>
									  <td align="center">43</td>
							<td align="center">WAVEPOINT20</td>
							<td align="center">GAME</td>
							<td align="right">18.424</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">44</td>
							<td align="center">WAVEPOINT250</td>
							<td align="center">GAME</td>
							<td align="right">230.496</td>
						  </tr>
								<tr>
									  <td align="center">45</td>
							<td align="center">WAVEPOINT50</td>
							<td align="center">GAME</td>
							<td align="right">44.688</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">46</td>
							<td align="center">ZYNGA100</td>
							<td align="center">GAME</td>
							<td align="right">91.336</td>
						  </tr>
								<tr>
									  <td align="center">47</td>
							<td align="center">ZYNGA20</td>
							<td align="center">GAME</td>
							<td align="right">18.424</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">48</td>
							<td align="center">ZYNGA50</td>
							<td align="center">GAME</td>
							<td align="right">45.766</td>
						  </tr>
								<tr>
									  <td align="center">49</td>
							<td align="center">INDOSAT10</td>
							<td align="center">INDOSAT</td>
							<td align="right">10.675</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">50</td>
							<td align="center">INDOSAT100</td>
							<td align="center">INDOSAT</td>
							<td align="right">97.650</td>
						  </tr>
								<tr>
									  <td align="center">51</td>
							<td align="center">INDOSAT20</td>
							<td align="center">INDOSAT</td>
							<td align="right">20.025</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">52</td>
							<td align="center">INDOSAT25</td>
							<td align="center">INDOSAT</td>
							<td align="right">25.000</td>
						  </tr>
								<tr>
									  <td align="center">53</td>
							<td align="center">INDOSAT30</td>
							<td align="center">INDOSAT</td>
							<td align="right">29.645</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">54</td>
							<td align="center">INDOSAT5</td>
							<td align="center">INDOSAT</td>
							<td align="right">5.650</td>
						  </tr>
								<tr>
									  <td align="center">55</td>
							<td align="center">INDOSAT50</td>
							<td align="center">INDOSAT</td>
							<td align="right">49.100</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">56</td>
							<td align="center">INDOSATSMS10</td>
							<td align="center">INDOSATSMS</td>
							<td align="right">10.700</td>
						  </tr>
								<tr>
									  <td align="center">57</td>
							<td align="center">INDOSATSMS25</td>
							<td align="center">INDOSATSMS</td>
							<td align="right">25.200</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">58</td>
							<td align="center">INDOSATSMS5</td>
							<td align="center">INDOSATSMS</td>
							<td align="right">5.700</td>
						  </tr>
								<tr>
									  <td align="center">59</td>
							<td align="center">INDOSATDATA1</td>
							<td align="center">ISAT 1GB 24JAM 30HR</td>
							<td align="right">28.250</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">60</td>
							<td align="center">INDOSATDATA2</td>
							<td align="center">ISAT 2GB 24JAM 30HR</td>
							<td align="right">41.250</td>
						  </tr>
								<tr>
									  <td align="center">61</td>
							<td align="center">INDOSATDATA3</td>
							<td align="center">ISAT 3GB 90HR</td>
							<td align="right">50.568</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">62</td>
							<td align="center">INDOSATDATA4</td>
							<td align="center">ISAT 4GB 90HR</td>
							<td align="right">51.100</td>
						  </tr>
								<tr>
									  <td align="center">63</td>
							<td align="center">INDOSATDATA5</td>
							<td align="center">ISAT 5GB 24JAM 30HR</td>
							<td align="right">78.600</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">64</td>
							<td align="center">ORANGETV100</td>
							<td align="center">ORANGE TV</td>
							<td align="right">89.278</td>
						  </tr>
								<tr>
									  <td align="center">65</td>
							<td align="center">ORANGETV150</td>
							<td align="center">ORANGE TV</td>
							<td align="right">133.378</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">66</td>
							<td align="center">ORANGETV300</td>
							<td align="center">ORANGE TV</td>
							<td align="right">265.678</td>
						  </tr>
								<tr>
									  <td align="center">67</td>
							<td align="center">ORANGETV50</td>
							<td align="center">ORANGE TV</td>
							<td align="right">45.178</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">68</td>
							<td align="center">ORANGETV80</td>
							<td align="center">ORANGE TV</td>
							<td align="right">71.638</td>
						  </tr>
								<tr>
									  <td align="center">69</td>
							<td align="center">PLN100</td>
							<td align="center">PLN</td>
							<td align="right">102.000</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">70</td>
							<td align="center">PLN20</td>
							<td align="center">PLN</td>
							<td align="right">22.000</td>
						  </tr>
								<tr>
									  <td align="center">71</td>
							<td align="center">PLN200</td>
							<td align="center">PLN</td>
							<td align="right">202.000</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">72</td>
							<td align="center">PLN50</td>
							<td align="center">PLN</td>
							<td align="right">52.000</td>
						  </tr>
								<tr>
									  <td align="center">73</td>
							<td align="center">PLN500</td>
							<td align="center">PLN</td>
							<td align="right">502.000</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">74</td>
							<td align="center">SMART10</td>
							<td align="center">SMART</td>
							<td align="right">10.250</td>
						  </tr>
								<tr>
									  <td align="center">75</td>
							<td align="center">SMART100</td>
							<td align="center">SMART</td>
							<td align="right">97.150</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">76</td>
							<td align="center">SMART20</td>
							<td align="center">SMART</td>
							<td align="right">20.250</td>
						  </tr>
								<tr>
									  <td align="center">77</td>
							<td align="center">SMART5</td>
							<td align="center">SMART</td>
							<td align="right">5.250</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">78</td>
							<td align="center">SMART50</td>
							<td align="center">SMART</td>
							<td align="right">48.850</td>
						  </tr>
								<tr>
									  <td align="center">79</td>
							<td align="center">TELKOMSEL10</td>
							<td align="center">TELKOMSEL</td>
							<td align="right">10.400</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">80</td>
							<td align="center">TELKOMSEL100</td>
							<td align="center">TELKOMSEL</td>
							<td align="right">94.150</td>
						  </tr>
								<tr>
									  <td align="center">81</td>
							<td align="center">TELKOMSEL20</td>
							<td align="center">TELKOMSEL</td>
							<td align="right">20.000</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">82</td>
							<td align="center">TELKOMSEL200</td>
							<td align="center">TELKOMSEL</td>
							<td align="right">191.150</td>
						  </tr>
								<tr>
									  <td align="center">83</td>
							<td align="center">TELKOMSEL25</td>
							<td align="center">TELKOMSEL</td>
							<td align="right">24.500</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">84</td>
							<td align="center">TELKOMSEL5</td>
							<td align="center">TELKOMSEL</td>
							<td align="right">5.450</td>
						  </tr>
								<tr>
									  <td align="center">85</td>
							<td align="center">TELKOMSEL50</td>
							<td align="center">TELKOMSEL</td>
							<td align="right">48.100</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">86</td>
							<td align="center">TELKOMSELDATA50</td>
							<td align="center">TELKOMSEL 1500MB</td>
							<td align="right">47.150</td>
						  </tr>
								<tr>
									  <td align="center">87</td>
							<td align="center">TELKOMSELDATA10</td>
							<td align="center">TELKOMSEL 150MB</td>
							<td align="right">10.450</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">88</td>
							<td align="center">TELKOMSELDATA5</td>
							<td align="center">TELKOMSEL 50MB</td>
							<td align="right">5.450</td>
						  </tr>
								<tr>
									  <td align="center">89</td>
							<td align="center">TELKOMSELDATA100</td>
							<td align="center">TELKOMSEL 5GB</td>
							<td align="right">98.600</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">90</td>
							<td align="center">TELKOMSELDATA20</td>
							<td align="center">TELKOMSEL 600MB</td>
							<td align="right">20.050</td>
						  </tr>
								<tr>
									  <td align="center">91</td>
							<td align="center">TELKOMSELDATA25</td>
							<td align="center">TELKOMSEL DATA</td>
							<td align="right">25.050</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">92</td>
							<td align="center">THREE1</td>
							<td align="center">THREE</td>
							<td align="right">1.140</td>
						  </tr>
								<tr>
									  <td align="center">93</td>
							<td align="center">THREE10</td>
							<td align="center">THREE</td>
							<td align="right">10.050</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">94</td>
							<td align="center">THREE100</td>
							<td align="center">THREE</td>
							<td align="right">98.150</td>
						  </tr>
								<tr>
									  <td align="center">95</td>
							<td align="center">THREE20</td>
							<td align="center">THREE</td>
							<td align="right">19.950</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">96</td>
							<td align="center">THREE30</td>
							<td align="center">THREE</td>
							<td align="right">29.351</td>
						  </tr>
								<tr>
									  <td align="center">97</td>
							<td align="center">THREE5</td>
							<td align="center">THREE</td>
							<td align="right">5.100</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">98</td>
							<td align="center">THREE50</td>
							<td align="center">THREE</td>
							<td align="right">49.150</td>
						  </tr>
								<tr>
									  <td align="center">99</td>
							<td align="center">XL10</td>
							<td align="center">XL</td>
							<td align="right">10.700</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">100</td>
							<td align="center">XL100</td>
							<td align="center">XL</td>
							<td align="right">99.400</td>
						  </tr>
								<tr>
									  <td align="center">101</td>
							<td align="center">XL25</td>
							<td align="center">XL</td>
							<td align="right">25.100</td>
						  </tr>
								<tr bgcolor="#CCCCCC">
									<td align="center">102</td>
							<td align="center">XL5</td>
							<td align="center">XL</td>
							<td align="right">5.650</td>
						  </tr>
								<tr>
									  <td align="center">103</td>
							<td align="center">XL50</td>
							<td align="center">XL</td>
							<td align="right">49.900</td>
						  </tr>
							  </table>

                        </div>
                    </div>
                </div>
                </br>
            </div>
        </div>
    </div>
    </link>
</div>
<script src="custom/daterange/js/moment.js" type="text/javascript">
</script>
<script src="custom/daterange/js/daterangepicker.js" type="text/javascript">
</script>
