<div id="main_content" class="content">
    <div class="page-heading">
        <h1 style="font-family:calibri;font-size:300%;"><i class="icon-th-list"></i>&nbsp;&nbsp;Marketing Plan</h1>                 	
	</div> 
    <div class="row">
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header"><strong>Marketing Plan Referral Program</strong>
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div> 
                <div class="widget-content padding">						
                    <div class="alert alert-success">
					This business is not only profitable on who join first or who sells first , all have the same portion in getting BONUS . Who is good at sales and development network then he will get a chance in a BIG bonus despite join later .
					What good will continue to join first? with you first join then you probably gain a lot of business colleagues in your network . That's one of the advantages to join first , especially your first and NICE JOIN in Treding and 
					Development of the network , I am sure you will get that very EXTRAORDINARY income
					</div>
					<img src="images/mlm/Investment Plan.jpg"></img>
					 <div class="alert alert-success col-md-4">What does the Loyalty Bonus ? This is a bonus from the company's profits are distributed to members.
						Distributed every month to six months of a deposit that is , if in two months adds to deposit it
						then automatically calculated back in the first month is also one of the bonuses you get for the money guarantee
							modalmu turning back .</div>
                </div>				
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
         <div class="widget">
                <div class="widget-header "><strong>Bonus-bonus Of Referral Program</strong>
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div> 
                <div class="widget-content padding">						
                   <img src="images/mlm/Bonus Portion.jpg"></img> 
				   <div class="alert alert-success col-md-6">Each member will receive a bonus of 15 % when you sponsor new members , new members such as level 1 .
						The Level 1 menseponsori new members again you will get a bonus of 10% and the new member as the level 2 .
						The Level 2 menseponsori new members again you will get a bonus of 5 % and the new member as level 3 .
						Bonus level to level 3 is only then when you get level 4 of the first member kmu you do not get a bonus level again .</div>
                </div>							
            </div>   
        </div>
    </div>
</div>