<div id="main_content" class="content">
    <div class="page-heading">
        <h1 style="font-family:calibri;font-size:300%;"><i class="icon-th-list"></i>&nbsp;&nbsp;Marketing Plan</h1>
	</div>
    <div class="row">
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                          Apex Regent Investment Plan
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide1.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                          Trado Member Club package
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide2.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                          Wealth Club dividend (W.C.D)
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide3.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                          Wealth Club dividend (W.C.D)
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide3.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                          Wealth Referral Bonus (W.R.B)
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide4.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                          Rank Qualification Bonus (R.Q.B)
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide5.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                          Wealth Club Bonus (W.C.B)
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide6.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                        Multi-Lines Grup ROI Bonus (M.C.B)
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide7.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                        Marketing Plan
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide8.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header">
                  <h2 style="">
                      <strong>
                        Marketing Plan
                      </strong>
                  </h2>
                </div>
                <div class="widget-content padding">
                  <img src="images/apex_marketing/Slide9.PNG" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
