<link href="assets/css/style.css" rel="stylesheet"/>
<style type="text/css">
   .list-group-item {
		color: black;
		font-weight: bold;
	}
</style>
<link href="custom/css/btn_openlive.css" rel="stylesheet"/>
<div class="content" id="main_content">
   <div class="page-heading">
      <h1>
         <i class="icon-th-list">
         </i>
         Open Live Account
      </h1>
   </div>
   <div class="row">
      <div class="col-sm-12 portlets">
         <div class="widget">
            <div class="widget-header transparent">
               <h2>
                  <strong>
                     Open
                  </strong>
                  New Live Account
               </h2>
               <div class="additional-btn">
                  <a class="hidden reload" href="#">
                     <i class="icon-ccw-1">
                     </i>
                  </a>
                  <a class="widget-toggle" href="#">
                     <i class="icon-down-open-2">
                     </i>
                  </a>
                  <a class="widget-close" href="#">
                     <i class="icon-cancel-3">
                     </i>
                  </a>
               </div>
            </div>
            <div class="widget-content padding">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="col-sm-6">
                        <div class="widget">
                           <div align="center" class="widget-content padding center-block">
                              <img align="middle" src="images/logo/imperium/logo.png" width="233">
                                 <br/>
                                 <br/>
                                 <ul class="list-group">
                                    <li class="list-group-item">
                                       Metatrader 4
                                    </li>
                                    <li class="list-group-item">
                                       Spread Start From 2.3
                                    </li>
                                    <li class="list-group-item">
                                       Min Depo $500
                                    </li>
                                    <li class="list-group-item">
                                       Leverage 1:100
                                    </li>
                                 </ul>
                                 <input class="btn btn-blue-1" name="imp-button" onclick="window.open('http://www.askapimperium.com/')" type="button" value="Open Account"/>
                              </img>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="widget">
                           <div align="center" class="widget-content padding center-block">
                              <img align="middle" src="images/logo/two/logo.png" height="70">
                                 <br/>
                                 <br/>
                                 <ul class="list-group">
                                    <li class="list-group-item">
                                       Metatrader 4
                                    </li>
                                    <li class="list-group-item">
                                       Spread Start From 2.3
                                    </li>
                                    <li class="list-group-item">
                                       Min Depo $500
                                    </li>
                                    <li class="list-group-item">
                                       Leverage 1:100
                                    </li>
                                 </ul>
                                 <input class="btn btn-blue-1" name="imp-button" onclick="window.open('https://account.askapsocial.com/')" type="button" value="Open Account"/>
                              </img>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
