										<h2 id="modalTitle" class="modal-title" style="text-align : center">Marketing Activity</h2>
										<form class="form-horizontal" role="form">
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label"> Date Time :</label>
												<div class="col-sm-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil1}</label>
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Account :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil2}</label>
												</div> 
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Prospect Date :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil3}</label>	 
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Prospect Name :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil4}</label>	 
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Prospect Address :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil5}</label> 
												</div>
											</div>
											<div class="form-group">
												<label for="tradingplatform" class="col-sm-4 control-label">Prospect Email :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil6}</label>	
												</div>
											</div>
											<div class="form-group">
												<label for="accounttype" class="col-sm-4 control-label">Prospect Telp :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil7}</label>	
												</div>
											</div>
											<div class="form-group">
												<label for="accounttype" class="col-sm-4 control-label">Prospect Summary :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil8}</label>	
												</div>
											</div>
											<div class="form-group">
												<label for="accounttype" class="col-sm-4 control-label">Status :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil9}</label>	
												</div>
											</div>
											<div class="form-group">
												<label for="accounttype" class="col-sm-4 control-label">Remarks :</label>
												<div class="col-md-8">
												<label class="col-sm-8 control-label" style="text-align : left">{$tampil0}</label>	
												</div>
											</div>
										</form>