<link rel="stylesheet" type="text/css" href="custom/datatable2/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="custom/datatable2/resources/syntax/shCore.css">

<script type="text/javascript" language="javascript" src="custom/datatable2/media/js/jquery.dataTables.js">
</script>
<script type="text/javascript" language="javascript" src="custom/datatable2/resources/syntax/shCore.js">
</script>
<script type="text/javascript" language="javascript" src="custom/datatable2/resources/demo.js">
</script>

<!-- Extra CSS Libraries Start -->
<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
<!-- Extra CSS Libraries End -->
<div id="main_content" class="content">
	<div class="page-heading">
		<h1><i class='fa icon-list'></i>Platform Credentials</h1>
	</div>
	<!-- Page Heading End-->
	<!-- Your awesome content goes here -->
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header transparent">
					<!-- <h2><strong>Sortable</strong> Table</h2> -->
					<div class="additional-btn">
						<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
						<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
						<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
					</div>
				</div>
				<div class="widget-content padding">
				<h4><i class="icon"><img src="images/logo/trader/mt-icon.png" height="50"></i> <strong>MT4 Accounts</strong></h4>
					<div class="table-responsive">
						<table id="dt" class="table table-hover table-striped">
						<thead>
						<tr>
							<th>Account</th>
							<th>Label</th>
							<th>Password</th>
							<th>Account type</th>
							<th>Server</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td><a href="#">2839122</a></td>
							<td></td>
							<td><i class='icon icon-lock'></i></td>
							<td>True ECN</td>
							<td>ICMarkets-Live01</td>
						</tr>
						<tr>
							<td><a href="#">2089107067</a></td>
							<td></td>
							<td><i class='icon icon-lock'></i></td>
							<td>True ECN</td>
							<td>ICMarkets-Live01</td>
						</tr>
						</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-heading">
		<h1><i class='fa icon-list'></i> Agent Account</h1>
	</div>
	<!-- Page Heading End-->
	<!-- Your awesome content goes here -->
	<div class="row">
		<div class="col-md-12">
			<div class="widget">
				<div class="widget-header transparent">
					<!-- <h2><strong>Sortable</strong> Table</h2> -->
					<div class="additional-btn">
						<a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
						<a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
						<a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
					</div>
				</div>
				<div class="widget-content padding">
				<h4><i class="icon"><img src="images/logo/trader/mt-icon.png" height="50"></i> <strong>MT4 Accounts</strong></h4>
					<div class="table-responsive">
						<table id="da" class="table table-hover table-striped">
						<thead>
						<tr>
							<th>Account</th>
							<th>Password</th>
							<th>Account type</th>
							<th>Server</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>3213131</td>
							<td>xxxxxx</td>
							<td>IC Markets Partner</td>
							<td>ICMarkets-Live4</td>
						</tr>
						<tr>
							<td>321333</td>
							<td>xxxxxx</td>
							<td>IC Markets Partner 2</td>
							<td>ICMarkets-Live4</td>
						</tr>
						<tr>
							<td>3213131</td>
							<td>xxxxxx</td>
							<td>IC Markets Partner 3</td>
							<td>ICMarkets-Live45</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#dt').DataTable( {
        "paging":   false,
        "searching": false
    } );
    $('#da').DataTable( {
        "paging":   false,
        "searching": false
    } );
} );
</script>
<script src="assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
<script src="assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="assets/js/pages/datatables.js"></script>