
<div id="main_content" class="content">
    <div class="row">
        <div class="col-md-12 portlets">
            <div class="widget">
                <div class="widget-header transparent">
                    <h3><strong>&nbsp;&nbsp;Registration</strong></h3>
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <div class="alert alert-success">
                        <img src="images/mlm/algo_guard.png">&nbsp;&nbsp;an account protection protection feuture that. 
                        Investor allow the Algo Provider to execute their Algo trading strategy for the client
                        without constanly heaving to contact the client to approve the order prior to execution
                        Only can monitor with Investor Password ( Read Only).<br><br>
                        Please keep in mind that you can consider and manually set the <img src="images/mlm/algo_guard.png">&nbsp;&nbsp; protection
                        later at the advanced mode / Setting page of your account. learn more.
                    </div>
                    <form role="form" id="registerForm">
                        <div class="form-group col-md-8">
                            <h4><strong>Step 3</strong>&nbsp;&nbsp;<span class="label label-default">Setup your accounts security</span></h4>
                            <label><input type="checkbox"> Open existing position of selected Algo Trading System at Current market price</label>
                            <br>
                            <br>
                            <div class="form-group">
                                <label class="col-sm-3"> Login :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Account Number">   
                                </div>
                            </div><br><br>
                            <div class="form-group">
                                <label class="col-sm-3"> Password :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Account Number">   
                                </div>
                            </div><br><br>
                            <div class="form-group">
                                <label class="col-sm-3"> Server :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Account Number">   
                                </div>
                            </div><br><br>
                            <div class="form-group">
                                <label class="col-sm-3"> Equity Protection :</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Account Number" placeholder="$">   
                                </div>
                            </div>						
                        </div><br><br>
                        <img src="images/mlm/algo.png">
                        <div class="form-group col-md-12">
                            <div class="col-md-2"><span class="label label-default">Thank you i don't need the Wizard</span></div>
                            <div class="col-md-2"><button type="button" class="btn btn-success">Submit</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>