 <div class="content">								
	<div class="page-heading">
        <h1 style="font-family:calibri;font-size:300%;"><i class="icon-th-list"></i>&nbsp;&nbsp;Request A VPS</h1><br></br>  
        <div class="ol-md-12 portlets ui-sortable">
            <div class="widget green-1">
                <div class="widget-header">						
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content padding" style="font-family:calibri;font-size:120%;">
                   You can request an Cabinet sponsor vps by submitting your request below. please note that then an Cabinet sponsored vps required a 
					minimum monthly trading volume of 100 lots. If you do not meet these requirements you can subscribe to one of our <u>preferred vps partners</u>
					to received a discounted rate
                </div>
            </div>
        </div>           	
	</div> 
    <div class="row">
        <div class="col-md-12 portlets ui-sortable">
            <div class="widget">
                <div class="widget-header ">
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div> 
                <div class="widget-content padding">						
                    <div id="horizontal-form">
                        <form class="form-horizontal" role="form" style="font-family:calibri;font-size:120%;">                          
                            <div class="form-group">
							<div class="col-sm-offset-2 col-sm-8">
								<label style="font-family:calibri;font-size:120%;">Request detail :</label>
								<textarea class="form-control" name="Contactmessage" style="height: 140px; resize: none;"></textarea>
							</div>						
								<div class="col-sm-offset-3 col-sm-10">
											<br>
                                    <button type="submit" class="btn btn-default disabled" style="font-family:calibri;font-size:100%;">SEND REQUEST</button>									
                                </div>
                            </div>
                        </form>
                    </div>
                </div>							
            </div>
        </div>       
    </div>		           	
</div>