<link href="assets/libs/jquery-datatables/css/dataTables.bootstrap.css" rel="stylesheet" type="text/css"/>
<link href="assets/libs/jquery-datatables/extensions/TableTools/css/dataTables.tableTools.css" rel="stylesheet" type="text/css"/>
<link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="custom/datatable2/media/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="custom/datatable2/resources/syntax/shCore.css">

<script type="text/javascript" language="javascript" src="custom/datatable2/media/js/jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="custom/datatable2/resources/syntax/shCore.js"></script>
<script type="text/javascript" language="javascript" src="custom/datatable2/resources/demo.js"></script>

<div class="table-responsive">
		<table class="table table-striped table-bordered" cellspacing="0" width="100%" style="font-family:calibri;font-size:100%;">
			<thead>
				<tr>
					<th colspan="8" class="text-center" bgcolor="#FFFFFF"><h3><b>Commission Detail</h3></th>
				</tr>
				<tr>
					
					<th>Account Meta</th>
					<th>Commission</th>
					
					<th>Total Lot</th>
					<th>Total Commission</th>
					
					
				</tr>
			</thead>
			<tfoot>
                            <tr>
                               <th colspan="2" class="text-center" bgcolor="#FFD700"><h4><b>Total</h4></th>
                               <th class="text-center" bgcolor="#FFFF00"><h4><b>{$sumlot}</h4></th>
                               <th class="text-center" bgcolor="#FFFFE0"><h4><b>{$sumcom|number_format:2:",":"."}</h4></th>
                               
                           </tr>
                       </tfoot>
			<tbody class="text-center">
			 {foreach from=$cekdowns key=cekdowns item=i}
				<tr>
					
					<td>{$i.group_play}</td>
					<td>{$i.comisi}</td>
					
					<td>{$i.lot_meta}</td>
					<td>{$i.totalcom|number_format:2:",":"."}</td>
					
					
				</tr>
			{/foreach}
			</tbody>
		</table>
</div>

<!-- <h3>Find upline from downline count of Commission</h3>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<div class="form-group">
			<label class="col-md-2 control-label"> Total Lot</label>
			<div class="col-md-2">
			<input type="text" class="form-control" name="totallot" value="{$total}">
			</div>
			<label class="col-md-2 control-label"> Total Commission</label>
			<div class="col-md-2">
			<input type="text" class="form-control" name="totalcom" value="{$total0}">
			</div>																										
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label"> Account Cabinet</label>
			<div class="col-md-2">
			<input type="text" class="form-control" name="account" value="{$tampil}">
			</div>																										
			<div class="col-md-3">
			<input type="text" class="form-control" name="accountname" value="{$tampil3}">
			</div>
			<div class="col-md-3">
			<input type="text" class="form-control" name="accountemail" value="{$tampil4}">
			</div>																										
			<div class="col-md-2">								
			<input type="button" class="btn btn-warning" name="fineupline" value="Find"
			onClick="car_hitcom_JS.uplinecari(account.value, accountname.value, totallot.value, totalcom.value);"></div>
		</div>
	</div>
</form>	 -->																						
<script src="assets/libs/jquery-datatables/js/jquery.dataTables.min.js"></script>
<script src="assets/libs/jquery-datatables/js/dataTables.bootstrap.js"></script>
<script src="assets/libs/jquery-datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="assets/js/pages/datatables.js"></script>					