<link href="assets/css/style.css" rel="stylesheet" />
<style type="text/css">
    .list-group-item {
        color: black;
        font-weight: bold;
    }
</style>
<link href="custom/css/btn_openlive.css" rel="stylesheet" />
<div class="content">
    <div class="page-heading">
        <h1>
         <i class="icon-th-list">
         </i>
         Open Live Account
      </h1>
    </div>
    <div class="row">
        <div class="col-sm-12 portlets">
            <div class="widget">
                <div class="widget-header transparent">
                    <h2>
                  <strong>
                     Open
                  </strong>
                  New Live Accounts
               </h2>
                    <div class="additional-btn">
                        <a class="hidden reload" href="#">
                            <i class="icon-ccw-1">
                     </i>
                        </a>
                        <a class="widget-toggle" href="#">
                            <i class="icon-down-open-2">
                     </i>
                        </a>
                        <a class="widget-close" href="#">
                            <i class="icon-cancel-3">
                     </i>
                        </a>
                    </div>
                </div>
                <div class="widget-content padding">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="widget">
                                    <div align="center" class="widget-content padding center-block">
                                        <img align="middle" src="images/logo/tree/tree-forex.jpg" width="233">
                                        <br/>
                                        <br/>
                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                Metatrader 4
                                            </li>
                                            <li class="list-group-item">
                                                Min Depo $10
                                            </li>
                                            <li class="list-group-item">
                                                Min 0.01 Lot
                                            </li>
                                            <li class="list-group-item">
                                                Max 1 Lot
                                            </li>
                                            <li class="list-group-item">
                                                Spread Start From 1
                                            </li>
                                            <li class="list-group-item">
                                                Swap: Yes
                                            </li>
                                            <li class="list-group-item">
                                                Expert Advisor: Yes
                                            </li>
                                            <li class="list-group-item">
                                                Leverage 1 : 500
                                            </li>
                                            <li class="list-group-item">
                                                PO TP SL 1 Point
                                            </li>
                                            <li class="list-group-item">
                                                Commission: $3 / 0.1 Lot
                                            </li>
                                            <li class="list-group-item">
                                                Symbol C
                                            </li>
                                        </ul>
                                        <input type="button" name="imp-button" class="btn btn-blue-1" value="Open Account" onclick="window.open('https://treeforex.com')" />
                                        </img>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
