<div id="main_content" class="content">
	<!-- Daterange -->
	<!-- Daterange -->
	<link rel="stylesheet" type="text/css" media="all" href="custom/daterange/css/daterangepicker.css" />
	<link rel="stylesheet" href="custom/ladda-bootsrap/ladda.min.css">

	<div class="page-heading">
		<h1><i class="icon-vcard"></i>ACCNO : {$dataACCNO.ACCNO}</h1>
	</div>
	<div class="row">
		<div class="col-md-12 portlets">
			<div class="widget">
				<div class="widget-content padding">

					<div id="horizontal-form">
						<div class="form-group">
							<label for="account_label_type" class="col-sm-2">Account Type:</label>
							<label for="account_type" class="col-sm-10">
								{if $dataACCNO.mt4dt!=''}
								MT4 with data source from {$dataACCNO.mt4dtalias} with Login : {$dataACCNO.mt4login}
								{else}
								{$dataACCNO.mt4dt}
								{/if}
							</label>
						</div>
						<div class="form-group">
							<label for="account_label_type" class="col-sm-2">Name:</label>
							<label for="account_type" class="col-sm-10">
								{$dataACCNO.name}
							</label>
						</div>
						<div class="form-group">
							<label for="account_label_type" class="col-sm-2">Group Rules:</label>
							<label for="account_type" class="col-sm-10">
								{$dataACCNO.description}
							</label>
						</div>
						<div class="form-group">
							<label for="account_label_type" class="col-sm-2">Created Time:</label>
							<label for="account_type" class="col-sm-10">
								{$dataACCNO.datetime}
							</label>
						</div>
					</div>
					<br>
					<legend></legend>

					<div class="table-responsive">
						<div class="text-center"><h4><strong>Bonus Log</strong></h4></div>
						<!-- location.href = 'daily_statement.php?account=' + account.value +  '&datesearch=' + datesearch.value + '&mt4dt='+ mt4dt.value +'&excell=yes' -->
						<form class="form-inline" role="form" method="post" name="bonussetting" action="bonus_detail.php?postmode=excell">
							<div class="form-group">
								<input type="hidden" name="account" value="{$dataACCNO.ACCNO}"></input>
								<select class="form-control" name="bonus" id="bonus">
									<option value="">-- All Bonus --</option>
									{foreach from=$allbonus item=a}
									<option value="{$a.module}">{$a.full}</option>
									{/foreach}
								</select>
							</div>
							<div class="form-group">
								<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
									<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
									<span></span> <b class="caret"></b>
								</div>
								<input type="hidden" name="tglnya" id="tglnya" value="">
							</div>

							<button type="button" class="btn btn-success" onclick="Treview_JS.view_result(bonus.value, tglnya.value);"><span class="ladda-label">Submit</span></button>
							<aa id="to-excel-bonus" hidden>
								<button id="to-excel" type="submit" class="btn btn-green-3">
									<i class="fa fa-file-text"></i> Export to Excell
								</button>
							</aa>
						</form>
						<table class="table table-hover table-striped" id="ajax-table">
							<thead>
								<tr>
									<th>No.</th>
									<th>Date Receipt</th>
									<th>Type</th>
									<th>Amount</th>
									<th>Comment</th>
								</tr>
							</thead>
							<tbody>
								{assign var="i" value="1"}
								{foreach from=$bonuslogs item=bonuslog}
								<tr>
									<td>{$i}</td>
									<td>{$bonuslog.date_receipt}</td>
									<td>{$bonuslog.full}</td>
									<td>{$bonuslog.amount|number_format:2}</td>
									<td>{$bonuslog.comment}</td>
								</tr>
								{assign var="i" value=$i+1}
								{foreachelse}

								<tr>
									<td colspan="5" class="text-center"><em>No data ...</em></td>

								</tr>

								{/foreach}
							</tbody>
						</table>
						<br>
						<br>
					</div>
					<div class="panel-group accordion-toggle" id="accordiondemo3">
						<div class="panel panel-lightblue-2">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordiondemo3" href="#accordion7">
										<i class="icon icon-newspaper"></i> Temporary Statement
									</a>
								</h4>
							</div>
							<div id="accordion7" class="panel-collapse collapse in">
								<div class="panel-body">
									{if $dataACCNO.mt4dtalias=="Un_set MT4 Database"}
									<div class="alert alert-warning">
										<span><strong>Warning :</strong></span>This account has not been set for database
									</div>
									{else}
									<form class="form-inline" role="form">
										<div class="form-group">
											<input type="text" class="form-control" name="account" id="account" value="{$dataACCNO.mt4login}" readonly>
											<input type="hidden" class="form-control" name="mt4dt" id="mt4dt" value="{$dataACCNO.mt4dt}" readonly>
										</div>

										<input type="button" class="btn btn-default" value="Go" onclick="Treview_JS.temporary_statement(account.value, mt4dt.value);">
										<aa id="to-excel" hidden>
											<button id="to-excel" type="button" class="btn btn-green-3" onclick="location.href = 'temporary_statement.php?account=' + account.value + '&mt4dt='+ mt4dt.value +' &excell=yes';">
												<i class="fa fa-file-text"></i> Export to Excell
											</button>
										</aa>
										
									</form>
									{/if}
									<div id="temporary-statement">
										<!-- Start Of report -->
										
										<!-- End Of report -->
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-lightblue-2">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordiondemo3" href="#accordion8">
										<i class="icon icon-calendar"></i> Daily Statement
									</a>
								</h4>
							</div>
							<div id="accordion8" class="panel-collapse collapse">
								<div class="panel-body">
									{if $dataACCNO.mt4dtalias=="Un_set MT4 Database"}
									<div class="alert alert-warning">
										<span><strong>Warning :</strong></span>This account has not been set for database
									</div>
									{else}
									<form class="form-inline" role="form">
										
										<div class="form-group">
											<input type="text" class="form-control" name="account" id="account" value="{$dataACCNO.mt4login}" readonly>
											<input type="hidden" class="form-control" name="mt4dt" id="mt4dt" value="{$dataACCNO.mt4dt}" >
											<select class="form-control" name="datesearch" id="datesearch">
												{foreach from=$dateall item=tanggalnya}
												<option value="{$tanggalnya}">{$tanggalnya}</option>
												
												{/foreach}
											</select>
										</div>
										<input type="button" class="btn btn-default" value="Go" onclick="Treview_JS.daily_statement(account.value, datesearch.value, mt4dt.value);">
										<aa id="to-excel2" hidden>
											<button id="to-excel" type="button" class="btn btn-green-3" onclick="location.href = 'daily_statement.php?account=' + account.value +  '&datesearch=' + datesearch.value + '&mt4dt='+ mt4dt.value +'&excell=yes';">
												<i class="fa fa-file-text"></i> Export to Excell
											</button>
										</aa>
									</form>
									{/if}
									<div id="daily-statement">
										<!-- Start Of report -->
										
										<!-- End Of report -->
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-lightblue-2">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordiondemo3" href="#accordion9">
										<i class="fa fa-money"></i> Running Price
									</a>
								</h4>
							</div>
							<div id="accordion9" class="panel-collapse collapse">
								<div class="panel-body">
									<dic
									<table width="auto" class="formatHTML5" >
										{if $dataACCNO.mt4dtalias=="Un_set MT4 Database"}
										<div class="alert alert-warning">
											<span><strong>Warning :</strong></span>This account has not been set for database
										</div>
										{else}
										<!-- TABLE HEADER-->
										<thead>
											<tr>
												<td><iframe frameborder="0" scrolling="no" height="215" width="575" allowtransparency="true" marginwidth="0" marginheight="0" src="http://feed.premierequityfutures.com/price.php"></iframe><br /><div style="width:575"></div></td>
											</tr>
										</thead>
										<!-- TABLE FOOTER-->
										<tfoot>
											<tr>
												<td colspan="11"><span class="style1">Copyright &#9400 2014 CABINET MANAGEMENT SYSTEM</span></td>
											</tr>
										</tfoot>
									</table>
									{/if}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="custom/daterange/js/moment.js"></script>
<script type="text/javascript" src="custom/daterange/js/daterangepicker.js"></script>
<script type="text/javascript">
	$(function() {

		function cb(start, end) {
			$('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			$('#tglnya').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
		}
		cb(moment().subtract(29, 'days'), moment());

		$('#reportrange').daterangepicker({
			ranges: {
				'Today': [moment(), moment()],
				'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
				'Last 7 Days': [moment().subtract(6, 'days'), moment()],
				'Last 30 Days': [moment().subtract(29, 'days'), moment()],
				'This Month': [moment().startOf('month'), moment().endOf('month')],
				'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
			}
		}, cb);

	});
</script>
<script src="custom/js/treview.js" type="text/javascript"></script>
{literal}
<script>
	jQuery(document).ready(function() {
		Treview_JS.init();
		
	});
</script>
{/literal}