<div id="main_content" class="content">
    <div class="page-heading">
        <h1><i class="icon-vcard"></i>Under Construction</h1>           	
    </div>
    <div class="row">
        <div class="col-md-12 portlets">
            <div class="widget">
                <div class="widget-content padding">          
                    <div class="form-group">
                        <label>This is not  Secure</label><br>
                        <label>No Data</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>