<div class="content">								
	<div class="page-heading">
		<h1 style="font-family:calibri;font-size:300%;"><i class="icon-th-list"></i>&nbsp;&nbsp;Withdrawal Detail</h1> 
	</div>
<div class="page-content">	
<div class="row">       
    <div class="col-md-12 portlets ui-sortable">
        <div class="widget green-1 left">
            <div class="widget-header ">
                <div class="additional-btn">
                    <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                    <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                    <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                </div>
            </div> 
            <div class="widget-content padding">						
                <div id="horizontal-form">
                    <form class="form-horizontal" role="form">  
                        <div class="form-group">
                            <label for="WithdrawalMethod" class="col-sm-3 control-label-left" style="font-family:calibri;font-size:120%;">Withdrawal Method :</label>
                            <div class="col-sm-3">
                                <select class="form-control">
                                    <option>Bank Detail</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Trading Account" class="col-sm-3 control-label-left" style="font-family:calibri;font-size:120%;">Account Name :</label>
                            <label for="Trading Account" class="col-sm-4 control-label-left" style="font-family:calibri;font-size:120%;">Wondo</label>										
                        </div>
                        <div class="form-group">
                            <label for="Trading Account" class="col-sm-3 control-label-left" style="font-family:calibri;font-size:120%;">Country :</label>
                            <label for="Trading Account" class="col-sm-4 control-label-left" style="font-family:calibri;font-size:120%;">Indonesia</label>									
                        </div>
                        <div class="form-group">
                            <label for="Trading Account" class="col-sm-3 control-label-left" style="font-family:calibri;font-size:120%;">Bank Name :</label>
                            <label for="Trading Account" class="col-sm-8 control-label-left" style="font-family:calibri;font-size:120%;">Panin Bank-Kcp Radio Dalam-Jakarta</label>										
                        </div>
                        <div class="form-group">
                            <label for="Trading Account" class="col-sm-3 control-label-left" style="font-family:calibri;font-size:120%;">Bank Account Number :</label>
                            <label for="Trading Account" class="col-sm-4 control-label-left" style="font-family:calibri;font-size:120%;">0924001887</label>									
                        </div><div class="form-group">
                            <label for="Trading Account" class="col-sm-3 control-label-left" style="font-family:calibri;font-size:120%;">Iban Code :</label>
                            <label for="Trading Account" class="col-sm-4 control-label-left" style="font-family:calibri;font-size:120%;">0924001887</label>										
                        </div>
                        <div class="form-group">
                            <label for="Trading Account" class="col-sm-3 control-label-left" style="font-family:calibri;font-size:120%;">Bic/Swift Code :</label>
                            <label for="Trading Account" class="col-sm-4 control-label-left" style="font-family:calibri;font-size:120%;">Pinbidja</label>									
                        </div><div class="form-group">
                            <label for="Trading Account" class="col-sm-3 control-label-left" style="font-family:calibri;font-size:120%;">Withdrawal Currency :</label>
                            <label for="Trading Account" class="col-sm-4 control-label-left" style="font-family:calibri;font-size:120%;">USD</label>
                            <button type="submit" class="btn btn-warning disabled" style="font-family:calibri;font-size:120%;">Add your Bank Account Number Detail</button>
                        </div>
                        <div class="alert alert-warning alert-dismissable" style="font-family:calibri;font-size:120%;">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h3><b style="font-family:calibri;font-size:120%;">Import Notes</b></h3>
                            Plese ensure that your bank Account is in the same name as your trading account, failure to do so will result in your request being.
                        </div>									
                    </form>
                </div>
            </div>							
        </div>
    </div>
</div>
</div>
</div>