<link href="assets/libs/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css"/>
<div class="content" id="main_content">
   <!-- Additional -->
   <!-- Extra CSS Libraries Start -->
   <link href="assets/libs/rickshaw/rickshaw.min.css" rel="stylesheet" type="text/css"/>
   <link href="assets/libs/morrischart/morris.css" rel="stylesheet" type="text/css"/>
   <link href="assets/libs/jquery-jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css"/>
   <link href="assets/libs/jquery-clock/clock.css" rel="stylesheet" type="text/css"/>
   <link href="assets/libs/bootstrap-calendar/css/bic_calendar.css" rel="stylesheet" type="text/css"/>
   <link href="assets/libs/sortable/sortable-theme-bootstrap.css" rel="stylesheet" type="text/css"/>
   <link href="assets/libs/jquery-weather/simpleweather.css" rel="stylesheet" type="text/css"/>
   <link href="assets/libs/bootstrap-xeditable/css/bootstrap-editable.css" rel="stylesheet" type="text/css"/>
   <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>
   <style type="text/css">
      .img-responsive {
  margin-bottom: 30px;
}
/*.row{
  margin-top: 1px;
  margin-bottom: 1px
}*/
   </style>
   {if $status == '0'}
   <br/>
   <div class="alert alert-danger">
      <strong>
         NOTE:
      </strong>
      <p class="text-justify">
         You haven't confirmed your email, please check your e-mail now and click the activation link has been sent
      </p>
   </div>
   {/if}
   <div class="carousel slide" data-ride="carousel" id="carousel-example">
      <ol class="carousel-indicators">
         <li class="active" data-slide-to="0" data-target="#carousel-example">
         </li>
         <li data-slide-to="1" data-target="#carousel-example">
         </li>
         <li data-slide-to="2" data-target="#carousel-example">
         </li>
      </ol>
      <div class="carousel-inner">
         <div class="item active">
            <a href="#">
               <img src="images/slider/slide4.jpg"/>
            </a>
         </div>
         <div class="item">
            <a href="#">
               <img src="images/slider/slide5.jpg"/>
            </a>
         </div>
         <div class="item">
            <a href="#">
               <img src="images/slider/slide6.jpg"/>
            </a>
         </div>
      </div>
      <a class="left carousel-control" data-slide="prev" href="#carousel-example">
         <span class="glyphicon glyphicon-chevron-left">
         </span>
      </a>
      <a class="right carousel-control" data-slide="next" href="#carousel-example">
         <span class="glyphicon glyphicon-chevron-right">
         </span>
      </a>
   </div>
   <div class="row">
      <div class="col-md-12 portlets">
         <div class="content">
            <!-- Start info box -->
            <div class="row top-summary">
               <button class="btn btn-primary btn-lg btn-block" type="button">
                  Welcome to {$companys.programname}
                  <p class="text-muted">
                     Solution for Financial Risk and Reward
                  </p>
               </button>
               <p>
                  <br>
                     <div class="col-lg-3 col-md-6">
                        <div class="widget green-1 animated fadeInDown">
                           <div class="widget-content padding">
                              <div class="widget-icon">
                                 <i class="icon-globe-inv">
                                 </i>
                              </div>
                              <div class="text-box">
                                 <p class="maindata">
                                    TOTAL
                                    <b>
                                       WALLET (USD)
                                    </b>
                                 </p>
                                 <h3>
                                    <span class="animate-number" data-duration="3000" data-value="{$ewallet.total|number_format:2}">
                                       {$ewallet.total|number_format:2}
                                    </span>
                                 </h3>
                                 <div class="clearfix">
                                 </div>
                              </div>
                           </div>
                           <div class="widget-footer">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <i class="fa rel-change">
                                    </i>
                                    <b>
                                    </b>
                                 </div>
                              </div>
                              <div class="clearfix">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="widget darkblue-2 animated fadeInDown">
                           <div class="widget-content padding">
                              <div class="widget-icon">
                                 <i class="fa fa-trophy">
                                 </i>
                              </div>
                              <div class="text-box">
                                 <p class="maindata">
                                    TOTAL
                                    <b>
                                       REWARD ( USD )
                                    </b>
                                 </p>
                                 <h2>
                                    <span class="animate-number" data-duration="3000" data-value="{$bonus.bonus|number_format:2}">
                                       {$bonus.bonus|number_format:2}
                                    </span>
                                 </h2>
                                 <div class="clearfix">
                                 </div>
                              </div>
                           </div>
                           <div class="widget-footer">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <i class="fa rel-change">
                                    </i>
                                    <b>
                                    </b>
                                 </div>
                              </div>
                              <div class="clearfix">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="widget orange-4 animated fadeInDown">
                           <div class="widget-content padding">
                              <div class="widget-icon">
                                 <i class="fa fa-user">
                                 </i>
                              </div>
                              <div class="text-box">
                                 <p class="maindata">
                                    TOTAL
                                    <b>
                                       ACCOUNT
                                    </b>
                                 </p>
                                 <h2>
                                    <span class="animate-number" data-duration="3000" data-value="{$account.account}">
                                       {$account.account}
                                    </span>
                                 </h2>
                                 <div class="clearfix">
                                 </div>
                              </div>
                           </div>
                           <div class="widget-footer">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <i class="fa rel-change">
                                    </i>
                                    <b>
                                    </b>
                                 </div>
                              </div>
                              <div class="clearfix">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <div class="widget lightblue-1 animated fadeInDown">
                           <div class="widget-content padding">
                              <div class="widget-icon">
                                 <i class="fa fa-dollar">
                                 </i>
                              </div>
                              <div class="text-box">
                                 <p class="maindata">
                                    TOTAL
                                    <b>
                                       AFILIATE
                                    </b>
                                 </p>
                                 <h2>
                                    <span class="animate-number" data-duration="3000" data-value="{$goldsaving.total|number_format:2}">
                                       {$goldsaving.total|number_format:2}
                                    </span>
                                 </h2>
                                 <div class="clearfix">
                                 </div>
                              </div>
                           </div>
                           <div class="widget-footer">
                              <div class="row">
                                 <div class="col-sm-12">
                                    <i class="fa rel-change">
                                    </i>
                                    <b>
                                    </b>
                                 </div>
                              </div>
                              <div class="clearfix">
                              </div>
                           </div>
                        </div>
                     </div>
                  </br>
               </p>
            </div>
            <!-- End of info box -->
            <div class="row">
               <div class="col-lg-8 portlets">
                  <div class="widget" id="website-statistics1">
                     <div class="widget-content">
                        <a href="https://twofrx.com/trading-contest-2016/" target="_new" title="Trading Contest 2016">
                           <div class="img-wrap">
                              <img alt="Image gallery" class="mfp-fade" height="100%" src="images/education/thecabinet.jpg" title="Trading Contest 2016" width="100%">
                              </img>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 portlets">
                  <div class="row">
                     <div class="col-sm-12">
                        <div class="widget" id="todo-app">
                           <div class="widget-header centered">
                              <!-- <div class="left-btn"><a class="btn btn-sm btn-default add-todo"><i class="fa fa-plus"></i></a></div> -->
                              <h2>
                                 Todo List
                              </h2>
                              <div class="additional-btn">
                                 <a class="hidden reload" href="#">
                                    <i class="icon-ccw-1">
                                    </i>
                                 </a>
                                 <a class="widget-popout hidden tt" href="#" title="Pop Out/In">
                                    <i class="icon-publish">
                                    </i>
                                 </a>
                                 <a class="widget-maximize hidden" href="#">
                                    <i class="icon-resize-full-1">
                                    </i>
                                 </a>
                                 <a class="widget-toggle" href="#">
                                    <i class="icon-down-open-2">
                                    </i>
                                 </a>
                                 <a class="widget-close" href="#">
                                    <i class="icon-cancel-3">
                                    </i>
                                 </a>
                              </div>
                           </div>
                           <div class="widget-content padding-sm">
                              <ul class="todo-list">
                                 {foreach from=$todo item=row}
                                 <li class="{$row.type} {if $row.finished} done {else} {/if}" disabled="">
                                    <span class="todo-item" data-link="{$row.link}" data-stat="{$row.finished}" style="cursor: pointer">
                                       {$row.description}
                                    </span>
                                 </li>
                                 {/foreach}
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-8 portlets">
                  <div class="widget">
                     <div class="widget-header">
                        <h2>
                           News
                        </h2>
                        <div class="additional-btn">
                           <a class="hidden reload" href="#">
                              <i class="icon-ccw-1">
                              </i>
                           </a>
                           <a class="widget-toggle" href="#">
                              <i class="icon-down-open-2">
                              </i>
                           </a>
                           <a class="widget-close" href="#">
                              <i class="icon-cancel-3">
                              </i>
                           </a>
                        </div>
                     </div>
                     <div class="widget-content padding">
                        <div class="col-md-12">
                           <div class="widget bg-white">
                              <div class="widget-body">
                                 <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                       {foreach from=$news item=row}
                                       {$row.line0}
                                       {$row.line1}
                                       {$row.line2}
                                       <hr/>
                                       {/foreach}
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-4 portlets">
                  <div class="widget">
                     <div class="widget-header transparent">
                        <h2>
                           <strong>
                              Online Trading
                           </strong>
                           Platform
                        </h2>
                        <div class="additional-btn">
                           <a class="hidden reload" href="#">
                              <i class="icon-ccw-1">
                              </i>
                           </a>
                           <a class="hidden" data-toggle="dropdown" id="dropdownMenu1">
                              <i class="fa fa-cogs">
                              </i>
                           </a>
                           <ul aria-labelledby="dropdownMenu1" class="dropdown-menu pull-right" role="menu">
                              <li>
                                 <a href="#">
                                    Action
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    Another action
                                 </a>
                              </li>
                              <li>
                                 <a href="#">
                                    Something else here
                                 </a>
                              </li>
                              <li class="divider">
                              </li>
                              <li>
                                 <a href="#">
                                    Separated link
                                 </a>
                              </li>
                           </ul>
                           <a class="widget-popout hidden tt" href="#" title="Pop Out/In">
                              <i class="icon-publish">
                              </i>
                           </a>
                           <a class="widget-maximize hidden" href="#">
                              <i class="icon-resize-full-1">
                              </i>
                           </a>
                           <a class="widget-toggle" href="#">
                              <i class="icon-down-open-2">
                              </i>
                           </a>
                           <a class="widget-close" href="#">
                              <i class="icon-cancel-3">
                              </i>
                           </a>
                        </div>
                     </div>
                     <div class="widget-content">
                        <div class="gallery-wrap">
                           <div class="column1">
                              <div class="inner">
                                 <a href="http://panendollar.com/" target="_new" title="The Art of Money Maker">
                                    <div class="img-wrap">
                                       <img alt="Please click here for download" class="mfp-fade" src="images/metatrader/mt4_logo_white.jpg" title="MetaTrader 4">
                                       </img>
                                    </div>
                                    <div class="caption-hover">
                                       Click Here to download Demo
                                    </div>
                                 </a>
                              </div>
                              <div class="inner">
                                 <a href="http://panendollar.com/" target="_new" title="The Art of Money Maker">
                                    <div class="img-wrap">
                                       <img alt="Image gallery" class="mfp-fade" src="images/thecabinet/education.jpg" title="Education" width="50%">
                                       </img>
                                    </div>
                                    <div class="caption-hover">
                                       Click Here to download Demo
                                    </div>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm-4">
                  <div align="center" class="widget ">
                     <div class="gallery-wrap">
                        <div class="column1">
                           <div class="inner">
                              <a href="https://twofrx.com/" target="_new" title="Two Forex">
                                 <div class="img-wrap">
                                    <img alt="Image gallery" src="images/thecabinet/twofrx.png" title="Education">
                                    </img>
                                 </div>
                                 <div class="caption-hover">
                                    Two Forex
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div align="center" class="widget ">
                     <div class="gallery-wrap">
                        <div class="column1">
                           <div class="inner">
                              <a href="#" target="_new" title="The Art of Money Maker">
                                 <div class="img-wrap">
                                    <img alt="Image gallery" src="images/thecabinet/copytrade.png" title="Education">
                                    </img>
                                 </div>
                                 <div class="caption-hover">
                                    Copytrade
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div align="center" class="widget ">
                     <div class="gallery-wrap">
                        <div class="column1">
                           <div class="inner">
                              <a href="http://www.askapimperium.com/" target="_new" title="Askap Futurus">
                                 <div class="img-wrap">
                                    <img alt="Image gallery" src="images/thecabinet/askapnew.jpg" title="Education">
                                    </img>
                                 </div>
                                 <div class="caption-hover">
                                    Askap Imperium
                                 </div>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="grid-custom">
               <div class="row ">
                  <!-- <div class="row col-sm-6">
        <img src="http://placehold.it/600x200/2ecc71/fff" alt="" class="img-responsive center-block">
      </div> -->
      <!-- http://placehold.it/600x195/2ecc71/fff -->
                  <div class="row col-sm-6">
                     <div class="col-sm-12">
                        <img alt="" class="img-responsive" src="images/thecabinet/edu.png"/>
                     </div>
                     <div class="col-sm-12">
                        <!-- <img src="http://placehold.it/600x195/2ecc71/fff" alt="" class="img-responsive"> -->
                        <div class="row nopadding">
                           <div class="col-sm-6">
                              <img alt="" class="img-responsive" src="images/thecabinet/ea.png">
                              </img>
                           </div>
                           <div class="col-sm-6">
                              <img alt="" class="img-responsive" src="images/thecabinet/indikator.png">
                              </img>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row col-sm-6">
                     <div class="col-xs-6">
                        <img alt="" class="img-responsive" src="images/thecabinet/book.png"/>
                     </div>
                     <div class="col-xs-6">
                        <img alt="" class="img-responsive" src="images/thecabinet/analisa.png"/>
                     </div>
                     <div class="col-xs-6">
                        <img alt="" class="img-responsive" src="images/thecabinet/produk.png"/>
                     </div>
                     <div class="col-xs-6">
                        <img alt="" class="img-responsive" src="images/thecabinet/seminar.png"/>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <script src="assets/libs/d3/d3.v3.js">
   </script>
   <script src="assets/libs/rickshaw/rickshaw.min.js">
   </script>
   <script src="assets/libs/raphael/raphael-min.js">
   </script>
   <script src="assets/libs/morrischart/morris.min.js">
   </script>
   <script src="assets/libs/jquery-knob/jquery.knob.js">
   </script>
   <script src="assets/libs/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js">
   </script>
   <script src="assets/libs/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js">
   </script>
   <script src="assets/libs/jquery-clock/clock.js">
   </script>
   <script src="assets/libs/jquery-easypiechart/jquery.easypiechart.min.js">
   </script>
   <script src="assets/libs/jquery-weather/jquery.simpleWeather-2.6.min.js">
   </script>
   <script src="assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js">
   </script>
   <script src="assets/libs/bootstrap-calendar/js/bic_calendar.min.js">
   </script>
   <script src="assets/js/apps/calculator.js">
   </script>
   <script src="assets/js/apps/todo.js">
   </script>
   <script src="assets/js/apps/notes.js">
   </script>
   <script src="assets/js/pages/index.js">
   </script>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="assets/libs/bootstrap-fileinput/bootstrap.file-input.js">
</script>
<!-- Page Specific JS Libraries -->
<script src="assets/libs/jquery-blockui/jquery.blockUI.js">
</script>
<script src="assets/libs/d3/d3.v3.js">
</script>
<script src="assets/libs/rickshaw/rickshaw.min.js">
</script>
<script src="assets/libs/raphael/raphael-min.js">
</script>
<script src="assets/libs/morrischart/morris.min.js">
</script>
<script src="assets/libs/jquery-knob/jquery.knob.js">
</script>
<script src="assets/libs/jquery-jvectormap/js/jquery-jvectormap-1.2.2.min.js">
</script>
<script src="assets/libs/jquery-jvectormap/js/jquery-jvectormap-us-aea-en.js">
</script>
<script src="assets/libs/jquery-clock/clock.js">
</script>
<script src="assets/libs/jquery-easypiechart/jquery.easypiechart.min.js">
</script>
<script src="assets/libs/jquery-weather/jquery.simpleWeather-2.6.min.js">
</script>
<script src="assets/libs/bootstrap-xeditable/js/bootstrap-editable.min.js">
</script>
<script src="assets/libs/bootstrap-calendar/js/bic_calendar.min.js">
</script>
<script src="assets/js/apps/calculator.js">
</script>
<script src="assets/js/apps/todo.js">
</script>
<script src="assets/js/apps/notes.js">
</script>
<script src="assets/js/pages/index.js">
</script>
<script src="assets/libs/fullcalendar/fullcalendar.min.js">
</script>
<script src="assets/js/pages/calendar.js">
</script>
